# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title:
email:
description: > # this means to ignore newlines until "baseurl:"

baseurl: "/engelberg" # the subpath of your site, e.g. /blog
url: "https://objectively.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username:
github_username:
seo_image_path: #'/images/media/filename.jpg'

permalink: pretty
# Build settings
markdown: kramdown
plugins:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - gulpfile.js
  - node_modules
  - package.json

timezone: America/New_York

# Folder Structure
source: ./source
# sass_dir: source/css

collections:
  components:
    output: false
  colors:
    output: false

contentful:
  spaces:
    - index:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: index
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - product:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: product
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - project:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: project
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - genericPage:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: genericPage
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - portalPage:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: portalPage
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - people:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: people
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - genericPage:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: genericPage
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - projectsPage:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: projectsPage
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - eventsPage:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: eventsPage
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - event:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: event
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - onTopic:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: onTopic
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - course:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: course
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false
    - news:
        space: ENV_ENGELBERG_CONTENTFUL_SPACE_ID
        access_token: ENV_ENGELBERG_CONTENTFUL_ACCESS_TOKEN
        base_path: ./source
        destination: /contentful
        all_entries: true
        cda_query:
          content_type: news
        client_options:
          max_include_resolution_depth: 2
          reuse_entries: false

page_gen:
  - data: 'data.contentful.project.project'
    template: 'project'
    name: 'pretty_url'
    dir: 'projects'
  - data: 'data.contentful.product.product'
    template: 'product'
    name: 'pretty_url'
    dir: 'products'
  - data: 'data.contentful.people.people'
    template: 'profile'
    name: 'pretty_url'
    dir: 'our-people'
  - data: 'data.contentful.genericPage.genericPage'
    template: 'generic'
    name: 'pretty_url'
    dir: ''
  - data: 'data.contentful.event.event'
    template: 'event'
    name: 'pretty_url'
    dir: 'events'
  - data: 'data.contentful.portalPage.portalPage'
    template: 'portal-page'
    name: 'pretty_url'
    dir: '/'
  - data: 'data.contentful.onTopic.onTopic'
    template: 'topic'
    name: 'title'
    dir: 'topics'
  - data: 'data.contentful.course.course'
    template: 'course'
    name: 'title'
    dir: 'courses'
    dir: 'topic'
  - data: 'data.contentful.news.news'
    template: 'announcement'
    name: 'pretty_url'
    dir: 'news'
