{% assign podcast = include.podcast %}

<div class="card card--podcast">
    <h2 class="heading-a">Our Podcasts</h2>
    <a href="{{ podcast.pretty_url | prepend: '/products/' | relative_url }}">
      <span class="card__title">{{ podcast.title }}</span>
    </a>
    <div class="card__podcast-wrapper">
      <div
        class="card__podcast-image"
        style="background-image: url('{{podcast.header_image.url}}')"
      ></div>
      <div class="card__podcast-detail">
        <span class="card__podcast-title">{{ podcast.episode_title }}</span>
        <span class="card__podcast-episode">{{ podcast.episode }}</span>
        <div class="card__podcast-player"></div>
      </div>
    </div>
    <p class="card__description">{{ podcast.short_description }}</p>
  </div>