{% assign podcast = include.podcast %}

<div class="card card--podcast">
    <h2 class="heading-a">Our Podcasts</h2>
    <span class="card__title">{{ podcast.title }}</span>
    <div class="card__podcast-wrapper">
      <div
        class="card__podcast-image"
        style="background-image: url('https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs')"
      ></div>
      <div class="card__podcast-detail">
        <span class="card__podcast-title">{{ podcast.episode_title }}</span>
        <span class="card__podcast-episode">{{ podcast.episode }}</span>
        <div class="card__podcast-player"></div>
      </div>
    </div>
    <p class="card__description">{{ page.podcast.description }}</p>
  </div>