{% assign project = include.project[0] %} 


<div class="card card--featured">
  <div class="card__meta">
    <div class="card__tags-container">
      {% for tag in project.tags %}
      <div class="tag tag--{{tag | slugify}}">{{ tag | capitalize }}</div>
      {% endfor %}
    </div>
    <div class="card__authors">
      {% for name in project.authors %}
      <span class="card__author">{{ name }}</span>
      {% endfor %}
    </div>
  </div>
  <h2 class="card__title">{{project.title}}</h2>
  <h3 class="card__description">{{project.description}}</h3>
  <div class="card__action">
    <a href="#" class="link link--arrow">Read More</a>
  </div>
</div>
