{% assign card = include.card %}

<div class="card card--featured">
  <!-- {% if card.publication_date %}
  <div class="card__date-container">
    {{ card.publication_date | date: "%B %d, %Y" }}
  </div>
  {% endif %} -->
  <div class="card__meta">
    {% comment %}
    <div class="card__tags-container tags-container">
      <div class="tag tag--law-area">{{ "Needs tag" }}</div>
      {% for area in card.law_area %}
      <div class="tag tag--law-area">{{ area }}</div>
      {% endfor %} {% for topic in card.topic %}
      <div class="tag tag--topic">{{ topic }}</div>
      {% endfor %} {% for tag in card.tag %}
      <div class="tag tag--tag">{{ tag }}</div>
      {% endfor %}
    </div>
    {% endcomment %}
    <div class="card__authors">
      <span class="card__author">{{ card.named_people | markdownify }}</span>
    </div>
  </div>
  <a class="link-secondary" href="{{ card.pretty_url | prepend: '/projects/' | relative_url }}">
    <span class="card__title">{{card.title}}</span>
  </a>
  {% if card.subtitle %}
  <span class="card__subtitle">{{card.subtitle}}</span>
  {% endif %}
  <div class="card__description markdown-secondary">
    {{ card.short_description | markdownify}}
  </div>
  <div class="card__action">
    <a href="{{ card.pretty_url | prepend: '/projects/' | relative_url }}" class="link link--arrow">
      {{ 'Read More' }}
    </a>
  </div>
</div>
