{% assign card = include.card %} 
{% assign full_author = include.full_author %}
{% assign path = include.path %}
{% assign card_action = include.card_action %}

<div class="card card--featured">



  <!-- {% if card.publication_date %}
  <div class="card__date-container">
    {{ card.publication_date | date: "%B %d, %Y" }}
  </div>
  {% endif %} -->
  <div class="card__meta">
      {% if card.event_start %}
    <div class="card__date-container">
    {{ card.event_start | date: "%B %d, %Y" }}
    </div>
  {% endif %}
    <div class="card__tags-container tags-container">

      {% for area in card.law_area %}
        <div class="tag tag--law-area">{{ area }}</div>
      {% endfor %}

      {% for topic in card.topic %}
        <div class="tag tag--topic">{{ topic }}</div>
      {% endfor  %}
      {% for tag in card.tag %}
        <div class="tag tag--tag">{{ tag }}</div>
      {% endfor  %}
    </div>
 
    <div class="card__authors">
      {% if card.full_author %}
        <span class="card__author">{{ card.full_author | markdownify }}</span>
      {% else %}
        {% for sys in card.engelberg_author %}
          {% assign author = site.data.contentful.people.people | where: 'sys.id', sys.id | first %}
          <span class="card__author">{{ author.display_name }}</span>
        {% endfor %}
      {% endif %}

     <!-- use named people,center authors, or full_authors? -->
    </div>
  </div>
  {% if card.external_url and card.external_url.size != 0%}
      <a class="link-secondary card__title external-link" href="{{ card.external_url }}">
        {{card.title}}
      </a>
  {% else %}
  <a class="link-secondary card__title" href="{{ card.pretty_url | prepend: path | relative_url }}">
    {{card.title}}
  </a>
  {% endif %}
  <span class="card__subtitle">{{card.subtitle}}</span>
    <div class="card__description markdown-secondary">
      {{ card.short_description | markdownify }}
    </div>
  <div class="card__action">
    {% if card.external_url and card.external_url.size != 0%}
      <a href="{{ card.external_url }}" class="link link--arrow">
        {% if card_action%}{{card_action}}{% else %}{{ 'Read More' }}{% endif%}
      </a>
    {% else %}
      <a href="{{ card.pretty_url | prepend: path | relative_url }}" class="link link--arrow">
        {% if card_action%}{{card_action}}{% else %}{{ 'Read More' }}{% endif%}
      </a>
      {% endif %}
  </div>
</div>
