{% assign card = include.card[0] %} 


<div class="card card--featured">
  <div class="card__meta">
    {% if card.date %}
    <div class="card__date-container">
      {{ card.date }}
    </div>
    {% endif %}
    {% if card.tags %}
    <div class="card__tags-container tags-container">
      {% for tag in card.tags %}
      <div class="tag tag--{{tag | slugify}}">{{ tag | capitalize }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="card__authors">
      {% for name in card.authors %}
      <span class="card__author">{{ name }}</span>
      {% endfor %}
    </div>
  </div>
  <span class="card__title">{{card.title}}</span>
  <p class="card__description">{{ card.description }}</p>
  <div class="card__action">
    <a href="#" class="link link--arrow">{{ card.button_text }}</a>
  </div>
</div>
