{% assign content = include.content %}
{% assign component_id = include.component_id %}
{% assign component_name = include.component_name %}
{% assign component_default = include.component_default %}
{% assign component_label_class = include.component_label_class %}

<label class="{{ component_label_class }}" for="{{ component_id }}" aria-label="{{component_name}}">{{component_name}}</label>
<select class="dropdown" name="{{ component_name }}" id="{{ component_id }}">
  <option id="all-{{ component_name }}" value="all">{{ component_default }}</option>
  {% for item in content %}
  {% if include.component_prefix %}
    {% assign option_id = item | slugify | prepend: '-' |prepend: include.component_prefix %}
    <option id="{{ option_id }}" value="{{ option_id }}">{{ item  }}</option>
  {% else %}
    <option id="{{ item | slugify }}" value="{{ item | slugify }}">{{ item }}</option>
  {% endif %}
  {% endfor %}
</select>