{% assign card_type = include.card_type %} {% assign heading = include.heading %} {% assign cards = include.cards %} {%
if card_type == 'resource_cards' %}}
<!-- RESOURCE CARD with icon, title, subtitle, author -->

<div class="row expanded page-section--generic">
  <div class="column large-12 small-12">
    <h2>{{heading}}</h2>
  </div>
  {% for card in cards %}
  <div class="card card--resource">
    <div class="card__icon" style="background-image: url({{ '/images/circle-logo.svg' | relative_url }})"></div>
    <div class="card__detail">
      <span class="card__title">{{ card.title }}</span>
      <span class="card__subtitle">{{ card.subtitle }}</span>
      <span class="card__author">{{ card.author }}</span>
    </div>
  </div>
  {% endfor %}
</div>
<!-- END RESOURCE CARD -->
{% endif %}
