{% assign cards = include.cards %}
{% assign cards_heading = include.cards_heading %}
{% assign cards_type = include.cards_type %}
{% assign cards_link_to = include.cards_link_to %}
{% assign cards_link_text = include.cards_link_text %}

{% if cards_type == 'research_cards' %}
<!-- RESEARCH CARD with icon, title, subtitle, author -->

<div class="row expanded page-section--generic row--thin section--light-gray">
  {% if cards %}
  <div class="column large-12 small-12 card-section-heading">
    <h2>{{ cards_heading }}</h2>
    {% if cards_link_to and cards.link_to.size != 0 %}
    <a class="link link--arrow" href="{{ cards_link_to | relative_url }}">{{cards_link_text}}</a>
    {% endif %}
  </div>
  <div class="cards-wrapper">
    {% for card in cards%}
    <div class="card card--research">
      <a class="card-link-wrapper" href="{{ card.pretty_url | prepend: 'outputs/' | relative_url }}">
        <div class="card__icon" style="background-image: url({{ card.card_icon.url }})"></div>
        <div class="card__detail">
          <span class="card__title">{{ card.title }}</span>
          <span class="card__subtitle">{{ card.subtitle }}</span>
          {% assign author = card.full_author %}
          {% assign subline_split = author | split: "](" | first | replace: "[", "" %}
          <div class="card__author">{{ subline_split }}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</div>
<!-- END RESEARCH CARD -->
{% elsif cards_type == "project-news_cards" %}

  <div class="row expanded page-section--generic row--thin section--light-gray">
  {% if cards %}
    <div class="column large-12 small-12 card-section-heading">
      <h2>{{ cards_heading }}</h2>
      {% if cards_link_to and cards.link_to.size != 0 %}
      <a class="link link--arrow" href="{{ cards_link_to | relative_url }}">{{cards_link_text}}</a>
      {% endif %}
    </div>
    <div class="cards-wrapper">
      {% for card in cards %}
      <div class="card card--research card--project-news">
      {% if card.publication_type == 'In the News'%}
        <a class="card-link-wrapper" href="{{ card.external_url }}">
      {% else %}
        <a class="card-link-wrapper" href="{{ card.pretty_url | prepend: '/news/' | relative_url }}">
      {% endif %}
        

          <div class="card__icon" style="background-image: url({{ card.bar_color.url }})"></div>
          <div class="card__detail">
            {% if card.publication_type == 'In the News'%}
              <span class="card__title external-link">{{ card.title }}</span>
            {% else %}
              <span class="card__title">{{ card.title }}</span>
            {% endif %}
            <div class="card__author card__date">{{ card.publication_date | date: '%B %d, %Y' }}</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  {% endif %}
  </div>

{% elsif cards_type == "people_cards" %}

<div class="row expanded row--thin">
  <div class="column large-12 small-12 card-section-heading">
    <h2>{{ cards_heading }}</h2>
    {% if cards_link_to and cards.link_to.size != 0 %}
    <a class="link link--arrow" href="{{ cards_link_to | relative_url }}">{{cards_link_text}}</a>
    {% endif %}
  </div>
  <div class="cards-wrapper">
    {% for card in cards %}
    <div class="card card--people">
      <a class="card-link-wrapper" href="{{ card.pretty_url | prepend: '/our-people/' | relative_url }}">
        <div class="card__avatar-wrapper">
          <div class="card__avatar">
            <img
              src="{{card.photo.url}}"
              alt="{{card.display_name}} Image"
            />
          </div>
          <div class="bar" style="background-image: url({{ card.bar_color.url }})"></div>
        </div>
        <div class="card__detail">
          <span class="card__name">{{ card.display_name }}</span>
          <span class="card__title">{{ card.title }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% elsif section.type == 'event_cards'%}

<div class="row expanded ">
  <div class="column large-12 small-12 card-section-heading">
    <h2>{{ card_data.heading }}</h2>
    {% if cards_link_to and cards.link_to.size != 0 %}
    <a class="link link--arrow" href="{{ cards_link_to | relative_url }}">{{cards_link_text}}</a>
    {% endif %}
  </div>
  <div class="cards-wrapper">
    {% for card in card_data.cards %}
    <div class="card card--event">
      
      <div
        class="card__image"
        style="background-image: url('https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs')"
      ></div>
      <div class="card__detail">
        <span class="card__date">{{ card.date }}</span>
        <a href="#">
          <span class="card__title">{{ card.title }}</span>
        </a>
        <span class="card__description ">{{ card.description }}</span>
        <span class="card__type">{{ card.type }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% elsif cards_type == 'project_cards'%}
<div class="row expanded">
  <div class="column large-12 small-12 card-section-heading">
    <h2>{{ cards_heading }}</h2>
    {% if cards_link_to and cards.link_to.size != 0 %}
    <a class="link link--arrow" href="{{ cards_link_to | relative_url }}">{{cards_link_text}}</a>
    {% endif %}
  </div>
  <div class="cards-wrapper">
    {% for card in cards %}
    <div class="card card--project">
      <a class="card-link-wrapper" href="{{ card.pretty_url | prepend: 'projects/' | relative_url }}">
        <div
          class="card__image"
          style="background-image: url({{card.project_image.url}})"
        ></div>
        <div class="card__detail">
          <span class="card__title">{{ card.title }}</span>
          <span class="card__description">{{ card.blurb }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>


{% elsif cards_type == 'book_cards'%}
<div class="row expanded">
  <div class="cards-wrapper">
    {% for card in cards %}
    <div class="card card--book">
      <a class="card-link-wrapper" href="{{ card.external_url }}">
        <div
          class="card__image"
          style="background-image: url({{card.cover_image.url}})"
        ></div>
        <div class="card__detail">
          <span class="card__title external-link">{{ card.title }}</span>
          <span class="card__description">{{ card.author }}</span>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}