{% assign title = include.title %}
{% assign publication = include.publication %}
{% assign date = include.date %}
{% assign author = include.author %}
{% assign content = include.content %}



<div class="news-item">
  <span class="news-item__title">{{ title }}</span>
  {% assign metadata = "" | split: "" %} {% assign metadata = metadata | push: publication | push: date |
  push: item.author %}
  <span class="news-item__meta">{{ metadata | join: " | "}}</span>
  <p class="news-item__content">{{ content }}</p>
</div>
