{% assign product = include.product %}

<span class="product-title visually-hidden">{{ product.title }}</span>
<span class="product-subtitle visually-hidden">{{ product.subtitle }}</span>
<span class="product-authors visually-hidden">{{ product.full_author }}</span>
<!-- add tags to description -->
<span class="product-description visually-hidden">
  {{ product.short_description }} {% for tag in product.law_area %}{{ tag |slugify}}{% endfor%} {% for tag in
  product.topic %} {{ tag |slugify}} {% endfor%} {% for tag in product.tag %} {{ tag |slugify}} {% endfor%}
</span>
<span class="product-law-area visually-hidden">all {% for tag in product.law_area %}{{ tag |slugify}}{% endfor%}</span>
<span class="product-topic visually-hidden">all {% for tag in product.topic %} {{ tag |slugify}} {% endfor%}</span>
<span class="product-tag visually-hidden">all {% for tag in product.tag %} {{ tag |slugify}} {% endfor%}</span>
<span
  class="product-publication-date visually-hidden"
  data-timestamp="{{ product.publication_date | date: time_tag }}"
>
  {{ product.publication_date | date: time_tag}}
</span>
<span class="product-center-author visually-hidden">
  all {% for author in product.engelberg_author %} {{ author.display_name | slugify }} {% endfor %}
</span>
<span class="product-type visually-hidden">all {{ product.type | slugify | downcase }}</span>
