{% assign product = include.product %}

<div class="product markdown-secondary">
  <div class="product__meta">
    <a  class="link--primary product__title" href="{{product.pretty_url | prepend: '/outputs/' | relative_url }}">
      {{ product.title }}
    </a>
    <span class="product__subtitle">{{ product.subtitle }}</span>
    <span class="product__authors">{{ product.full_author | markdownify }}</span>
    <span class="product__date">{{ product.publication_date | date: "%B %d, %Y" }}</span>
  </div>
  <div class="markdown-secondary product__description">
    {{ product.short_description | markdownify }}
  </div>
  <div class="tags-container">
    {% for tag in product.law_area %}
    <div class="tag tag--law-area">{{ tag | capitalize }}</div>
    {% endfor %} {% for tag in product.topic %}
    <div class="tag tag--topic">{{ tag | capitalize }}</div>
    {% endfor %} {% for tag in product.tag %}
    <div class="tag tag--tag">{{ tag | capitalize }}</div>
    {% endfor %}
  </div>
  {% include components/product-filter-tags.html product=product %} 
</div>
