{% assign avatar_src = include.avatar_src %} {% assign twitter_name = include.twitter_name %} {% assign twitter_handle =
include.twitter_handle %} {% assign twitter_content = include.twitter_content %}

<div class="twitter-item">
  <div class="twitter-item__header">
    <div class="twitter-item__avatar">
      <img src="{{ avatar_src }}" alt="{{ twitter_name }} Twitter Avatar" />
    </div>
    <div class="twitter-item__meta">
      <span class="twitter-name">{{ twitter_name }}</span>
      <a href="#">
        <span class="twitter-handle">@{{ twitter_handle }}</span>
      </a>
    </div>
  </div>
  <p class="twitter-item__content">{{ twitter_content }}</p>
</div>
