<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <a  href="{{ '#main' | prepend: page.url | relative_url }}" class="skip-to-main-content-link">Skip to main content</a>

    <!-- {% include nav.html %} -->

    {% if page.layout == "generic" %}
      {% include header.html  top_bar="white" %} 
    {% elsif page.layout == "topic" %}
      {% include header.html  top_bar="white" %} 
    {% else %}
      {% include header.html %} 
    {% endif %}

      {{content}} 

      {% unless page.no_footer %}
   
 
      {% include footer.html %}
      {% endunless %}
  

    <div id="overlay" class="js-overlay"></div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="{{ '/vendor/twitterFetcher_min.js' | relative_url }}"></script>
    <script src="{{'/assets/bundle.js' | relative_url}}"></script>
  </body>
</html>
