---
layout: default
description:
seo_image_path: #'/images/media/filename.jpg'
top_bar: white
---

<main id="main" class="student-page">
  {% include components/nav-button.html %}
  <div class="row expanded page-section--topic top-section section--gray" style="background-image: url({{ page.header_beam.url }})">
    <div class="column large-5 medium-12 small-12">
      <h1>{{ page.title }}</h1>
      <div class="bar" style="background-image: url({{ page.bar_color.url }})"></div>
      <div class="markdown-secondary">
        {{ page.long_description | markdownify }}
      </div>
    </div>
    <div class="column large-6 large-offset-1 medium-12 small-12">
      <div class="topics-dropdown-container">
        {% if page.title == 'For Students' %}
          {% assign course = site.data.contentful.course.course | sort: "title"  %}
          <div id="line-one">I'm interested in</div>
          <div class="custom-select" tabindex="0">
            <select tabindex="0" class="select-test"> 
              <option value="" class="current-page-selection" tabindex="0">Select a topic</option>
              {% for item in course %}
                <option value="{{ item.title | slugify | prepend: '/courses/' | relative_url }}" tabindex="0">{{ item.title }}</option>
              {% endfor %}
              <option value="random-select" tabindex="0">Roll the Dice!</option>
        {% else %}
          {% assign topic = site.data.contentful.onTopic.onTopic | sort: "title" %}
          <div id="line-one">Engelberg Center on</div>
          <div class="custom-select" tabindex="0">
            <select tabindex="0" class="select-test"> 
              <option value="" class="current-page-selection" tabindex="0">Select a topic</option>
              {% for item in topic %}
                <option value="{{ item.title | slugify | prepend: '/on/' | relative_url }}" tabindex="0">{{ item.title }}</option>
              {% endfor %}
              <option value="random-select" tabindex="0">Roll the Dice!</option>
          {% endif %}
          </select>
        </div>
      </div>
    </div>
  </div>
</main>