---
layout: default
title:
subtitle:
description:
seo_image_path: #'/images/media/filename.jpg'
top_bar: gray
---

<main id="main" class="product-page">
  <!-- Layout 4 -->
  {% include components/nav-button.html %}
  <div class="row expanded top-section section--light-gray product-header">
    <div class="column large-7 medium-12 small-12">
      <div class="product__tags-container tags-container">
        {% if page.law_area %}
          {% for tag in page.law_area %}
            <div class="tag tag--{{tag | slugify}} tag--orange">{{ tag | capitalize }}</div>
          {% endfor %}
        {% endif %}
        {% if page.topic %}
          {% for tag in page.topic %}
            <div class="tag tag--{{tag | slugify}} tag--green">{{ tag | capitalize }}</div>
          {% endfor %}
        {% endif %}
        {% if page.tag %}
          {% for tag in page.tag %}
            <div class="tag tag--{{tag | slugify}} tag--blue">{{ tag | capitalize }}</div>
          {% endfor %}
        {% endif %}
      </div>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
        <div class="product__subtitle">{{ page.subtitle }}</div>
      {% endif %}
      <div class="product__authors">{{ page.full_author | markdownify }}</div>
      <div class="product__introduction markdown-secondary">
        {{ page.introduction | markdownify }}
      </div>
    </div>
    <div class="column large-offset-1 large-4 medium-12 small-12">
      <img src="{{ page.header_image.url }}" /> 
    </div>
  </div>

  {% if page.fixed_nav %}
    {% include components/fixed-nav.html %}
  {% endif %}

  <section class="page-section section--light-gray no-padding">
    <div class="row expanded">
      <div class="column large-8 medium-12 small-12 product__left-column">
        {% if page.body %}
          {{ page.body | rich_text_to_html }}
        {% endif %}
      </div>
      <div class="column product__slide-panel">
        <div class="product-links">
          {% if page.button_url %}
            <a href="{{ page.button_url }}" class="button">{{ page.button_text }}</a>
          {% endif %}
          {% if page.engelberg_author %}
            <h3>Engelberg Center Authors</h3>
            {% for item in page.engelberg_author %}
              <a href="{{ item.pretty_url | slugify | prepend: '/our-people/' | relative_url }}" class="author link link--secondary">{{ item.display_name }}</a>
            {% endfor %}
          {% endif %}
        </div>

        <div id="1" class="slide-panel slide-panel--from-right row">
          <div tabindex="0" class="slide-panel__container slide-panel__container--footnote column">
            <div class="close-button-container">
              <button type="button" class="close-panel"><i class="material-icons">close</i></button>
            </div>
            <div class="slide-panel__content">
              {% if page.body %}
                {{ page.body | extract_footnotes_from_rich_text }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
