---
layout: default
title: 
subtitle: 
description:
seo_image_path: #'/images/media/filename.jpg'
top_bar: white
---

<main id="main" class="topic-page">
  {% include components/nav-button.html %}
  <div class="row expanded page-section--topic top-section section--gray" style="background-image: url({{ page.header_beam.url }})">
    <div class="column large-5 medium-12 small-12">
      <span class="heading-start">Engleberg Center on:</span>
      <h1>{{ page.title }}</h1>
      <div class="bar" style="background-image: url({{ page.bar_color.url }})"></div>
      <div class="markdown-secondary">
        {{ page.introduction | markdownify }}
      </div>
    </div>
    <div class="column large-6 large-offset-1 medium-12 small-12 no-padding">
      {% if page.featured_research %}
        <h3 class="heading-c">Featured Research</h3>
        {% include components/card-featured.html card=page.featured_research full_author=page.featured_research.full_author path="/outputs/" %} 
      {% endif %}
    </div>
  </div>

  {% if page.latest_research %}
    {% include components/generic-card-layout.html 
      cards=page.latest_research
      cards_heading="Our Latest Research"
      cards_type="research_cards"
      cards_link_text="All Research"
      cards_link_to="outputs"
    %}
  {% endif %}

  {% if page.related_projects %}
    {% include components/generic-card-layout.html 
      cards=page.related_projects
      cards_heading="Our Projects"
      cards_type="project_cards"
      cards_link_text="All Engelberg Center Projects"
      cards_link_to="projects"
    %}
  {% endif %}

  {% if page.experts %}
    {% include components/generic-card-layout.html 
      cards=page.experts
      cards_heading="Our Experts"
      cards_type="people_cards"
      cards_link_text="All Engelberg Center People"
      cards_link_to="our-people"
    %}
  {% endif %}
</main>
