body {
  line-height: initial;
}

.footer {
  h2 {
    margin: 1em 0;
  }
  padding-top: 40px;
  &__nav {
    > a {
      text-align: left;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 5px;
      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.main-menu {
  box-shadow: none;
  overflow-y: hidden;
}


figure {
  margin: 0;
}

.input-group,
label {
  color: $black;
  font-family: $sans-serif;
}

.year-label {
  display: block;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: $white;
  color: $black;
  font-family: $sans-serif;
  border: 1px solid $black;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.text-area {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $black;
    font-family: $sans-serif;
    opacity: 1;
    /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $black;
    font-family: $sans-serif;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $black;
    font-family: $sans-serif;
  }
}
