.button {
  white-space: nowrap;

  @include breakpoint($small-only) {
    white-space: normal;
  }

  line-height: inherit;
  transition-duration: 0.4s;
  font-family: $sans-serif;
  border: solid 1px $black;
  border-radius: 27px;
  padding: 0.5rem 1rem;
  width: fit-content;
  display: block;
  text-align: center;
  color: $black;
  text-decoration: none;
  background-color: transparent;
  @include all-caps-text;

  &:hover,
  &:focus {
    color: $white;
    border-color: $white;
    background-color: $black;
  }
  &--close:after {
    @extend .u-material-icons;
    content: 'close';
    display: inline-block;
  }
  &__sort {
    &--ascending:after {
      @extend .u-material-icons;
      content: 'keyboard_arrow_up';
      display: inline-block;
      vertical-align: -6px;
    }
    &--descending:after {
      @extend .u-material-icons;
      content: 'keyboard_arrow_down';
      display: inline-block;
      vertical-align: -6px;
    }
  }
}

.button--full {
  width: 100%;
}

.button--arrow {
  padding-bottom: 0.65rem;
  padding-right: 0.65rem;

  &:after {
    transition-duration: 0.4s;
    @extend .u-material-icons;
    content: url('../images/icons/arrow_forward_black_24dp.svg');
    vertical-align: bottom;
    margin-left: 0.4rem;
    transform: scale(0.8);
    margin-bottom: -2px;
  }

  &:hover {
    &:after {
      filter: invert(100%);
    }
  }
}

// .button--menu {
//   background-color: $purple-100;

//   height: 3.5rem;
//   &:before {

//   }
//   &:after {
//     // content: 'more_vert';
//     // @extend .u-material-icons;
//     // font-size: 3.5rem;
//     // outline: yellow 1px solid;

//   }
//   &:hover,
//   &:visited {
//     border-color: rgba($purple-100, 0.8);
//     background-color: rgba($purple-100, 0.8);
//   }
//   border-radius: 0;
//   // width: 2.4rem;
// }