.cards-wrapper {
  grid-auto-rows: 1fr;
  display: grid;
  grid-gap: 1rem;
  width: 100%;
  padding: 0 1rem;

  @include breakpoint($large) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include breakpoint($between-large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint($medium-only) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint($small-only) {
    grid-template-columns: 1fr;
  }

  .card-link-wrapper {
    text-decoration: none;
  }
}

/* GLOBAL Card Styles */
.card {
  background-color: transparentize($gray-200, 0.1);
  font-family: $sans-serif;
  box-shadow: 10px 10px 30px #00000033;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14rem;
  transition-duration: 0.4s;
}

/* END GLOBAL Card Styles */

.card--event,
.card--research,
.card--project,
.card--people {
  // width: 100%;

  @include breakpoint($large) {
    // max-width: calc(25% - 16px);
  }

  @include breakpoint($between-large) {
    // max-width: calc(33% - 16px);
  }

  @include breakpoint($medium-only) {
    // max-width: calc(50% - 16px);
    // margin: 8px;
  }

  @include breakpoint($small-only) {
    // max-width: 100%;
    // margin: 8px;
  }
}

/* SHARED CARD STATES */
.card--event,
.card--research,
.card--project,
.card--people {
  &:hover {
    background-color: $purple-100;
    color: $white;

    a {
      color: $white;
    }

    .card__icon {
      visibility: hidden;
    }

    .card__image {
      filter: grayscale(70%);
    }
  }
}


/* END SHARED CARD STATES */

// PEOPLE CARD with image, name, affiliation
.card--people {
  padding: 0 1rem;
  display: block;

  // height: 26.5rem;
  .card__avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__avatar {
    margin: 2rem 0 1rem;
  }

  img {
    width: 11.5rem;
    height: 11.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
  }

  .card__decorator {
    margin: 2rem auto 1rem auto;
    height: 0.8rem;
    width: 4.5rem;
    background-color: $sky-blue-100;
    border-radius: 10px;
    border: pink solid 1px;
  }

  .card__detail {
    span {
      font-family: $sans-serif;
      font-weight: 700;
      display: block;
    }

    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;

    .card__name {
      font-size: $h5;
      padding-bottom: 0.5rem;
    }

    .card__title {
      font-weight: 300;
      font-size: $p;
    }
  }
}

// END PEOPLE CARD

/* EVENT CARDS with image, date, title, and event type */


.card--event {
  display: flex;
  min-height: 22rem; // event and research cards have different heights

  // height: inherit;
  &.card--event-long {
    height: inherit;
  }

  .card__image {
    border-radius: 16px 16px 0 0;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card__detail {
    flex: 1 0 auto;

    span {
      font-family: $sans-serif;
      font-weight: 700;
      display: block;
      padding: 8px 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    .card__date,
    .card__type {
      text-transform: uppercase;
      font-size: $helper;
    }

    .card__title {
      font-size: $h5;
    }

    .card__description {
      flex: 1 0 auto;
      font-weight: $light;
    }
  }
}

/* END EVENT CARDS */

/* RESEARCH CARD with icon, title, subtitle, author */
.card--research {
  min-height: 25rem;
  padding: 2rem;

  .card__icon {
    height: 4rem;
    background-repeat: no-repeat;
  }

  .card__detail {
    // line-height: 22px;
    overflow: hidden;
    margin-top: 0;
    justify-content: space-around;

    span {
      display: block;
      margin: 0.5rem;
    }

    .card__title {
      font-weight: 700;
      font-size: $p;
    }

    .card__subtitle {
      font-weight: 300;
      font-size: $p;
    }

    .card__author {
      @include all_caps_text;
      font-weight: 700;
      font-size: $helper !important;
    }
  }
}

/* END RESEARCH CARDS */

/* PROJECT CARDS with image, title, description */
.card--project {
  //   // height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .card__image {
    border-radius: 16px 16px 0 0;
    height: 15rem;
    min-height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card__detail {
    padding: 2rem;
    overflow: hidden;

    span {
      font-family: $sans-serif;
      font-weight: 700;
      display: block;
      font-size: $p;
    }

    .card__description {
      font-weight: 300;
    }
  }
}

/* END PROJECT CARDS */

// PODCAST CARDS
.card--podcast {
  padding: 1rem 2.5rem 1rem;
  display: block;
  height: 30.5rem;
  @include uninverted-section;

  @include breakpoint($between-large) {
    height: 35.5rem;
  }

  @include breakpoint($medium-only) {
    height: 31.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .heading-a {
    font-size: 2.4rem;
  }

  .card__title {
    font-size: $h4;
    display: block;
    margin: 1rem 0;
  }

  .card__podcast-wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;

    span {
      display: block;
    }

    .card__podcast-detail {
      @include all-caps-text;
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;

      .card__podcast-player {
        height: 100%;
        width: 100%;
      }
    }

    .card__podcast-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 3.5rem;
    }
  }

  .card__description {
    margin-top: 0;
  }
}

// END PODCAST

// FEATURED CARDS
.card--featured {
  padding: 2rem;

  .card__meta {
    display: flex;
    justify-content: space-between;

    @include breakpoint($small-only) {
      flex-direction: column;
    }

    .card__date-container {
      font-size: $h6;
      font-weight: $bold;
    }

    .card__tags-container,
    .card__date-container {
      width: 70%;

      @include breakpoint($small-only) {
        width: 100%;
      }

      .tag {
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
    }

    .card__authors {
      display: flex;
      flex-direction: column;
      @include all_caps_text;
    }
  }

  .card__title {
    font-family: $sans-serif;
    width: 70%;
    font-size: $h3;
    letter-spacing: 0px;
    font-weight: $bold;
    margin: 2rem 0;
    // color: $black;
  }

  // delete?
  // a {
  //   text-decoration: none;
  //   margin-top: 1rem;
  //   width: 70%;
  // }

  .card__subtitle {
    margin: 1rem 0;
    font-size: $h4;
    letter-spacing: 0px;
    width: 70%;
    font-weight: 300;
  }

  .card__description {
    margin-top: 0;
    width: 70%;

    @include breakpoint($small-only) {
      width: 100%;
    }

    font-family: $serif;
    font-weight: 300;
    font-size: $p;
  }

  .card__action {
    margin-top: 4rem;
  }
}

// END FEATURED CARDS


// CARD SECTION LAYOUTS 

.card-section-heading {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 1rem 1.5rem 1rem;

  @include breakpoint($small-only) {
    display: block;
  }

  a {
    margin-top: 0.5rem;
  }
}

// card layouts
.card-section-heading--thick {
  margin: 4.5rem 0 2rem;
}

// PAGE SPECIFIC CARD LAYOUTS 
.generic-layout {
  .card {
    background-color: $white;

    &:hover {
      background-color: $purple-100;
      color: $white;

      .card__icon {
        visibility: hidden;
      }

      .card__image {
        filter: grayscale(70%);
      }
    }
  }
}

.card--minimal {
  text-align: center;
  padding-top: 2rem;

  // used for advisory board section 
  span {
    display: block;
  }

  img {
    width: 5.7rem;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .card__detail {
    span {
      font-family: $sans-serif;
      font-weight: 700;
      display: block;
    }

    text-align: center;
    padding: 1rem;

    .card__name {
      font-size: $h5;
      padding-bottom: 0.5rem;
    }

    .card__title {
      font-weight: 300;
      font-size: $p;
      font-style: italic;
    }

    .card__affiliation {
      font-weight: $light;
      font-size: $p;
    }
  }
}