svg {
  border: black solid 1px;
}

.visualization {
  width: 100%;

  svg {
    width: 100%;
    // height: 100%;
  }
}

#stacked-groups-chart {
  svg {
    height: 100%;
  }
}

.d3-chart,
.visualization {
  @include page-section-padding;
  padding-top: 2rem;
  padding-bottom: 2rem;
}