$white: #FFFFFF;
$black: #000000;
$black-50: rgba(0, 0, 0, 0.5);
$gray-50: #f0f0f0;
$gray-100: #1F1F1F1A;
$gray-200: #FAFAFA;
$gray-300: #00000033;

$purple-100: #57068C;
$blue-100: #394FA1;
$green-100: #00854D;
$orange-100: #CF4827;
$yellow-100: #EABF1E;
$pink-100: #ED76AD;
$sky-blue-100: #20B6EA;

.section--gray {
  // background-color: $gray-100;
  background-color: $gray-50;
}

.section--light-gray {
  background-color: $gray-200;
}