.courses-layout {
  .course-type,
  .course-leaders {
    font-weight: $bold;
    display: inline-block;
    font-family: $sans-serif;
    font-size: $h5;
  }
  h1 {
    font-size: $h2;
    margin-top: 0;
    margin-bottom: 0;
  }
  .heading-decorator {
    margin: 4rem 0;
  }

  span {
    display: block;
    font-family: $sans-serif;
  }
  p {
    font-family: $serif;
  }
  .course-header {
    padding-top: 2rem;
  }
  .courses-container {

  }
  .course {
    margin: 2rem 0;
    &__date {
      font-size: $h4;
      font-weight: $light;
    }
    &__instructor, &__affiliation {
      font-weight: $bold;
      font-size: $h5;
    }
  }
}
