.courses-layout {

  .course-type,
  .course-leaders {
    font-weight: $bold;
    display: inline-block;
    font-family: $sans-serif;
    font-size: $h5;
  }

  .course-leaders {
    margin-top: 1rem;
  }

  .course-type {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  h1 {
    font-size: $h2;
    margin-top: 0;
    margin-bottom: 0;
  }

  span {
    display: block;
    font-family: $sans-serif;
  }

  p {
    font-family: $serif;
  }

  .course-header {
    padding-top: 2rem;

    h1 {
      line-height: 1.2;
    }
  }

  .courses-container {
    margin-top: 2rem;

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .course {
    margin: 2rem 0;

    &__date {
      font-size: $h4;
      font-weight: $light;
    }

    &__instructor,
    &__affiliation {
      font-weight: $bold;
      font-size: $h5;
    }
  }
}