.heading-decorator {}

.decorator {
  // margin: 1rem 0 2.5rem;
  margin: 2rem 0;
  height: 0.8rem;
  width: 4.5rem;
  border-radius: 10px;
}

.decorator--left-align {
  margin: 0 1rem;
}

.decorator--middle-align {}