.custom-select {
  position: relative;
  font-family: $sans-serif;
  font-weight: bold;
  line-height: 1.4;

  @include breakpoint($large) {
    margin-right: 5rem !important;
  }

  @include breakpoint($between-large) {
    margin-right: 0rem !important;
  }

  @include breakpoint($medium) {
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 0;
  }

  @include breakpoint($small-only) {
    font-size: 1.7rem;
    margin-right: 0;
    margin-top: 0.5rem;
  }
}

.custom-select select {
  display: none;
}

.select-selected {
  border-bottom: 4px solid $black !important;
  padding-left: 0 !important;
}

.select-selected:after {
  position: absolute;
  @extend .u-material-icons;
  color: $black;
  content: 'expand_circle_down';
  font-size: 2.4rem;
  right: 2.5rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;

  @include breakpoint($between-large) {
    font-size: 2.2rem;
    right: 2rem;
  }
}

.select-items div,
.select-selected {
  color: $black;
  padding: 10px 16px 10px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  font-size: 1.4rem;
  // Set max height to dropdown
  max-height: 26rem;
  overflow: hidden;
  overflow-y: scroll;

  @include breakpoint($small-only) {
    font-size: 1.3rem;
  }
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.15);
}

.dropown-heading {
  font-size: 1.3rem;
  font-family: $sans-serif;
  margin-bottom: -10px;
  margin-top: 1rem;
  display: inline-block;
  font-weight: bold;
  padding-left: 20px;

  @include breakpoint($medium) {
    margin-top: 4rem;
  }
}

// default select
.dropdown-component {
  padding-top: 1rem;

  @include breakpoint($small-only) {
    padding-bottom: 16px;
  }

  position: relative;

  &:before {
    @extend .u-material-icons;
    color: $black;
    content: 'expand_circle_down';
    font-size: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    line-height: inherit;
  }

  select {
    color: $black;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 3px solid $black;
    border-radius: 0px;
    width: 100%;
    -webkit-appearance: none;
    padding: 0 30px 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::-ms-expand {
      display: none;
    }

    font-family: $sans-serif;
    font-size: $h5;
    font-weight: $bold;
  }

  option {
    color: $black;
  }
}
.events-page  #event-year {
  border-bottom: none;
}
