// twitter feed
.twitter-item {
  &__header {
    display: flex;
  }

  &__meta {
    font-family: $sans-serif;
    font-weight: $bold;
    font-size: $h6;
    margin-left: 1rem;

    span {
      display: block;
    }
  }

  &__avatar {
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      margin: auto;
    }
  }
}

// news item 
.news-item {
  margin-bottom: 2rem;

  &__title {
    font-family: $sans-serif;
    font-weight: $bold;
    // font-size: $h5;
    font-size: 1.3rem;
    display: block;
  }

  &__meta {
    font-family: $sans-serif;
    display: block;
    @include all-caps-text;
    margin-top: 0.5rem;
  }

  &__content {}
}