.events-page {
  padding-bottom: 10rem;

  h1 {
    font-size: $h2;
  }

  .top-section {
    background-repeat: no-repeat;
    background-position: calc(100% + 13rem) -6rem;
    @include breakpoint($medium-only) {
      background-image: none !important;
    }
  }
}

.event-page {
  background-color: $gray-200;
  padding-bottom: 8rem;

  .top-section {
    padding-bottom: 0;
  }

  .event__date {
    font-weight: $bold;
    font-family: $sans-serif;
    font-size: $h5;
  }

  h1 {
    font-size: $h2;
    margin-top: 0;
  }

  .button-container {
    margin: 1.5rem 0 5rem;
    // padding: 1rem 0;
  }

  .event__featured-image-wrapper {
    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }

  .event__sidebar-body {
    img {
      margin: 1rem 0;
    }

    .event-media-desc {
      @include figcaption-styling;
    }
  }

  .main-content {
    &:first-child {
      margin-top: -1rem;
    }

    iframe {
      margin-top: 1rem;
    }
  }
}
