.fixed-nav {
  font-family: $sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: $white;
  padding: 1rem 2rem;
  cursor: pointer;

  @include breakpoint($large) {
    padding: 1rem 6rem;
  }

  &__dropdown {
    color: $black;
    display: block;

    span {
      &::before {
        @extend .u-material-icons;
        content: 'expand_circle_down';
        color: $black;
        font-size: 20px;
        position: absolute;
        line-height: inherit;
        padding-left: 10px;
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 3;

  @include breakpoint($small-only) {
    top: 50px;
  }
}

.section-link-column {
  padding: 0rem 1rem;
}

.sections-panel {
  visibility: hidden;
  overflow: hidden;

  .row {
    padding-top: 0;
  }

  &--is-visible {
    visibility: visible;
    transition: visibility 0s 0.2s;
  }

  &__container {
    background-color: $blue-100;
    color: $white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    overflow-y: scroll;
    transition: transform 0.3s 0.3s;
    z-index: 1;

    .row {
      padding-bottom: 8em;
    }

    @include breakpoint($medium) {
      padding: 0 1rem 2rem 0;
    }

    .content-link {
      color: white;
      display: block;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      margin-bottom: 0.6rem;

      &--h3 {
        padding-left: 2rem;
        font-size: 1.2rem;
      }

      &--h4 {
        padding-left: 4rem;
        font-size: 1rem;
      }

      @include breakpoint($medium) {
        margin-left: 3rem;
      }
    }

    button.close-fixed-nav {
      color: white;
      background-color: transparent;
      position: sticky;
      position: -webkit-sticky;
      top: 1rem;
      left: 1rem;

      i.material-icons {
        margin: 0;
      }

      @include breakpoint($medium) {
        top: 1rem;
        left: 1rem;
      }
    }
  }
}

.sections-panel--from-top .sections-panel__container {
  top: 54px;
  transform: translate3d(0, -100%, 0);
}

.sections-panel--is-visible .sections-panel__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0s;
}

.noscroll {
  overflow: hidden;
}