footer {
  background-color: $black;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint($medium-only) {
    padding-top: 4rem;
  }

  p,
  a,
  span {
    color: $white;
  }

  p {
    // font-size: $p;
  }

  .footer {
    &--logo {
      max-width: 15rem;
    }

    &--section-title {
      font-family: $sans-serif;
      font-size: $h3;
      font-weight: 200;
      display: block;
      padding-bottom: 2rem;

      @include breakpoint($medium-only) {
        padding: 2rem 0;
      }
    }

    &--about {
      padding-top: 1rem;

      @include breakpoint($large) {
        max-width: 55%;
      }

      @include breakpoint($between-large) {
        max-width: 75%;
      }

      @include breakpoint($small-only) {
        max-width: 100%;
      }
    }

    &--nav {
      @include breakpoint($medium-only) {
        padding: 1rem 1rem;
      }

      a {
        display: block;
        text-decoration: none;
        font-size: 21px;
        font-weight: bold;
        font-family: $sans-serif;
        margin-bottom: 1.5rem;

        &:hover {
          color: $yellow-100;
        }
      }
    }

    .large-offset-1 {
      @include breakpoint($between-large) {
        margin-left: 1rem;
        margin-right: 3rem;
      }

      @include breakpoint($medium-only) {
        margin-left: 0;
      }
    }

    .form {
      @include breakpoint($large) {
        margin-right: 8rem;
      }

      @include breakpoint($between-large) {
        margin-right: 0;
      }

      @include breakpoint($medium-only) {
        max-width: 75%;
      }

      @include breakpoint($small-only) {
        max-width: 100%;
      }

      .input-group,
      label {
        color: $white;
        font-family: $sans-serif;
      }

      .year-label {
        display: block;
        margin-bottom: 1.5rem;
        font-weight: bold;
      }

      input {
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: $black;
        color: $white;
        font-family: $sans-serif;
        border: 1px solid $white;
        border-radius: 50px;
        padding: 0.5rem 1rem;
        font-weight: bold;
      }

      .text-area {
        &::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $white;
          font-family: $sans-serif;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $white;
          font-family: $sans-serif;
        }

        &::-ms-input-placeholder {
          /* Microsoft Edge */
          color: $white;
          font-family: $sans-serif;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        white-space: nowrap;

        li {
          display: inline-block;

          label,
          input {
            margin: 0 !important;
            display: inline-block;
            vertical-align: middle;
          }

          input {
            max-width: 1rem;
          }

          label {
            padding-right: 4rem;
            padding-left: 0.5rem;
            font-weight: bold;
          }
        }
      }

      .button {
        color: $black;
        background-color: $white;
        width: 100%;
        margin-top: 1rem;
        text-transform: none !important;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.copyright {
  background-color: #121212;
  padding-top: 0;

  .row {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  span,
  a {
    color: $white;
    display: inline;
    font-family: $serif;
    font-size: $p;
  }

  a {
    &:hover {
      color: $white;
    }
  }

  &--top-text {
    font-weight: bold;
    display: block !important;
    padding-bottom: 5px;
  }

  &--bottom-text {
    p {
      margin: 0;
      color: $white;
      font-family: $serif;
      font-size: $p;
      @include breakpoint($large) {
        display: inline-block;
      }
      a {
        @include markdown-primary-links;
      }
    }
    p:not(:first-of-type) {
      @include breakpoint($large) {
        &:before {
          content: '|';
          margin: 10px;
        }
      }
    }
    table {
      color: $white;
      font-family: $serif;
      font-size: $p;
      a {
        @include markdown-primary-links;
      }
      tr  {
        td:not(:first-of-type) {
          &:before {
            content: '|';
            margin: 10px;
          }
        }
      }
    }
  }

  img {
    @include breakpoint($medium-only) {
      max-width: 15rem;
      margin-top: 2rem;
    }
  }
}
