.top-section--generic {
  padding-top: 8.5rem;
  background-image: url('../images/circle-logo.svg');
  background-repeat: no-repeat;
}

.page-section--generic {
  h1 {
    font-size: $h2;
  }
  h2 {
    font-size: $h3;
  }
}