.generic-layout {
  h1 {
    font-size: $h2;
  }
  h2 {
    font-size: $h3;
  }
  // .decorator {
  //     margin: 1rem 0 2.5rem;
  // }
}

.top-section--generic {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: calc(-25%);
  background-position-y: calc(25%);
}

.bar {
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 18%;
}

.card .bar {
  margin-top: 1.5rem;
  height: 2rem;
  width: 5.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
}