.generic-layout {
  padding-bottom: 10rem;
  background-color: $gray-200;

  h1 {
    font-size: $h2;
  }

  h2 {
    font-size: $h3;
  }

  .cards-wrapper {
    padding-bottom: 8rem;
  }

  .card-section-heading {
    padding-top: 6rem;
  }

  .cards-wrapper {
    padding-bottom: 0rem;
  }
}

.top-section--generic {
  padding-top: 7rem;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: calc(-25%);
  background-position-y: calc(25%);

  @include breakpoint($medium-only) {
    background-image: none !important;
  }
}

.bar {
  height: 2rem;
  background-repeat: no-repeat;
  background-size: 18%;
}

.topic-page,
.courses-layout,
.project-page,
.student-page,
.event-page {
  .bar {
    margin: 2rem 0 1rem 0;
  }
}

.student-page {
  .row {
    padding-bottom: 8rem;
  }

  .page-section--topic {
    @include breakpoint($medium-only) {
      background-size: 85% !important;
    }
  }
}

.courses-layout {
  .bar {
    background-size: 23%;
    margin-top: 3rem;
  }
}

.announcement-page .bar,
.event-page .bar,
.project-page .bar {
  margin: 4rem 0;
  height: 1.3rem;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.event-page .bar {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.profile-page .bar {
  margin: 0 1rem;
  height: 1.3rem;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.projects-page .bar,
.events-page .bar {
  margin-bottom: 2rem;
  height: 1.3rem;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.card .bar {
  margin-top: 1.5rem;
  height: 2rem;
  width: 5.5rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.generic-body-2-col {

  p,
  figure,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    margin-left: calc(100% / 3);

    @include breakpoint($medium-only) {
      margin-left: 0;
    }
  }
}

.page-section--generic {
  padding-bottom: 0;

  @include breakpoint($medium-only) {
    padding-top: 4rem;
  }

  .card-section-heading {
    margin-top: 1rem;
  }
}