.top-bar {
  &__button--gray {
    color: $gray-100;
  }
}

.top-bar {
  background-color: $gray-200;
  height: 3.5rem;
  left: 0;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 4;

  &--mobile-list {
    @include breakpoint($small-only) {
      width: 100%;
    }
  }

  .main-menu {
    z-index: 3;
    box-shadow: none;
    overflow-y: hidden;
    overflow: scroll;
    overflow-x: hidden;
  }

  .js-trigger-menu {
    color: gray;

    &--right {
      background-color: orange;
      font-size: 2rem;
      padding: 1rem 0.25rem 0;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;

      &:hover {
        background-color: green;
      }
    }
  }
}

.top-bar.top-bar--white {
  background-color: white;
}

.top-bar--no-logo {
  background-color: transparent;
}

.top-bar--no-logo>.top-bar__logo-container {
  display: none;
}

.top-bar--white>.top-bar__logo-container {
  display: flex;
}

.top-bar__logo-container {
  display: flex;
  justify-content: center;
  height: 3.5rem;

  img {
    height: 3rem;
    width: auto;
    padding-top: 0.3rem;
  }
}

.top-bar__menu-button {
  background-color: transparent;
  position: absolute;
  left: 0;
  border-radius: 0;

  .menu-button__decorator {
    background-color: $purple-100;
    display: inline-block;
    height: 100%;
    width: 2rem;
    color: $white;
    border: $purple-100 solid 1px;

    &:before {
      font-size: 3.2rem;
      content: 'more_vert';
      @extend .u-material-icons;
      margin-left: -0.6rem;
    }
  }

  .menu-button__text {
    background-color: transparent;
    display: inline-block;
    color: $purple-100;
    text-transform: uppercase;
    font-family: $sans-serif;
    font-weight: $bold;
    font-size: $h5;
    top: -2px;
    position: absolute;
    text-align: start;
    padding: 1.2rem 10px;
  }
}

.below-topbar {
  color: transparent;

  .material-icons {
    background-color: transparent;
    font-size: 0.1rem;
  }

  .menu-text {
    color: transparent;
  }
}

.full-width {
  width: 100%;
}

// .main-nav {
//   background-color: $purple-100;
//   color: white;
//   display: none;
//   left: 0;
//   overflow-y: scroll;
//   padding: 4rem 4rem 0rem 4rem;
//   position: absolute;
//   right: 0;
//   top: 0;

//   @include breakpoint(screen and (min-width: 1024px) and (max-width: 1200px)) {
//     padding-bottom: 10rem;
//   }

//   @include breakpoint($medium-only) {
//     padding-bottom: 10rem;
//   }

//   @include breakpoint($small-only) {
//     height: 100vh;
//     overflow-y: scroll;
//     padding: 4rem 2rem;
//   }

//   a:not(.header-link) {
//     display: block;
//     font-family: $sans-serif;
//     font-size: $helper;
//     padding: 0.3rem 0.5rem;
//     text-align: left;
//     text-decoration: none;
//     color: $white;

//     &:hover {
//       background-color: transparentize(white, 0.9);
//     }

//     @extend .transition;
//   }

//   .header-link {
//     border-bottom: solid 2px white;
//     display: block;
//     font-family: $sans-serif;
//     font-size: 1rem;
//     font-weight: bold;
//     margin-bottom: 1rem;
//     padding: 0.3rem 0.2rem;
//     text-align: left;
//     text-decoration: none;

//     &:hover {
//       background-color: transparentize(white, 0.9);
//     }

//     @extend .transition;

//     &--no-hover {
//       &:hover {
//         background-color: transparent;
//       }
//     }
//   }

//   .link-column {
//     margin-bottom: 5rem;

//     @include breakpoint($medium-only) {
//       margin-bottom: 2rem;
//     }

//     @include breakpoint($small-only) {
//       margin-bottom: 1rem;
//     }
//   }

//   .home-button {
//     color: $white;
//     left: 0;
//     position: absolute;
//     top: 56px;

//     @include breakpoint($small-only) {
//       left: 60px;
//       top: 0;
//     }

//     i {
//       font-size: 30px;
//       padding: 8px 7px;
//     }
//   }

//   .close-button {
//     color: $white;
//     left: 0;
//     position: absolute;
//     top: 0;

//     @include breakpoint($small-only) {
//       left: 60px;
//       top: 0;
//       left: 0;
//     }

//     i {
//       font-size: 30px;
//       padding: 8px 7px;
//     }
//   }
// }

.nav-logo {
  margin-top: 4rem;

  @include breakpoint($medium-only) {
    width: 11rem;
    position: absolute;
    right: 4rem;
    bottom: 2rem;
  }

  @include breakpoint(screen and (min-width: 1024px) and (max-width: 1200px)) {
    width: 10rem;
    position: absolute;
    right: 3rem;
    bottom: 4rem;
  }

  @include breakpoint($medium-only) {
    right: 3rem;
    bottom: 3rem;
  }
}

.js-active-menu {
  display: block;
}