.index {
  padding-bottom: 6rem;

  .top-section {
    background-image: url('../images/test-header-index.png');
    background-repeat: no-repeat;
    background-position-x: 5rem;
    background-size: 95%;
    padding-bottom: 5rem;

    @include breakpoint($medium-only) {
      background-image: none;
    }
  }

  .main-header {
    font-family: $sans-serif;

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
      vertical-align: middle;

      @include breakpoint($medium-only) {
        max-width: 50%;
      }

      @include breakpoint($small-only) {
        max-width: 75%;
      }
    }

    span {
      display: block;
    }

    .main-header-one {
      font-size: $h1;
      font-weight: $bold;
      line-height: 4rem;
    }

    .main-header-two {
      font-size: $h3;
      font-weight: $bold;
    }

    .main-header-three {
      font-size: $h4;
      font-weight: $regular;
    }
  }

  .card.card--featured {
    margin: 0.5rem 0;
  }

  .button-container {
    display: flex;
    margin: 1.7rem 0;

    @include breakpoint($medium-only) {
      margin-bottom: 3rem;
    }

    &--right {
      justify-content: right;
    }
  }

  .card--podcast {
    padding-bottom: 4rem;

    .card__title {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .card__subtitle {
      display: block;
      text-transform: none;
      margin-bottom: 1rem;
      font-weight: bold;
    }

    @include breakpoint($large) {
      margin-top: -8rem;
    }

    @include breakpoint($medium-only) {
      margin-top: -5em;
    }
  }

  .top-section {
    @include breakpoint($medium-only) {
      padding-bottom: 7rem;
    }

    @include breakpoint($small-only) {
      padding-bottom: 5rem;
    }
  }

  .inverted-section {
    @include breakpoint($medium-only) {
      padding-bottom: 5rem;
    }
  }
}

.twitter-feed__container {
  ul {
    padding-left: 0;
    list-style-type: none;

    li:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  @include breakpoint($medium-only) {
    margin-bottom: 4rem;
  }
}

.user {
  img {
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
    width: 3.1rem;
  }

  div {
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;

    span {
      display: block;
      font-family: $sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
}

.twitter-news-container {
  padding-bottom: 0;

  .heading-b {
    margin-bottom: 0.7rem;
  }

  .link--arrow {
    display: block;
    margin-bottom: 2.2rem;
  }

  span[data-scribe='element:verified_badge'] {
    display: none !important;
  }
}
