#index {
  .top-section {
    background-image: url('../images/circle-logo.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 13rem) -6rem;
  }
  .main-header {
    .logo-container {
      background-image: url('../images/circle-logo.svg');
      background-repeat: no-repeat;
      height: 15rem;
    }
    font-family: $sans-serif;
    span {
      display: block;
    }
    .main-header-one {
      font-size: $h1;
      font-weight: $bold;
      line-height: 4rem;
    }
    .main-header-two {
      font-size: $h3;
      font-weight: $bold;
    }
    .main-header-three {
      font-size: $h4;
      font-weight: $regular;
    }
  }
  .card.card--featured {
    margin: .5rem 0;
  }
  .button-container {
    display: flex;
    margin: 1.5rem 0;
    &--right {
      justify-content: right;
    }
  }

  .card--podcast {
    @include breakpoint($large) {
      margin-top: -7rem;
    }
  }
}
