// overwrite foundation

.row {
  @include page-section-padding;
}

.row.top-section {
  padding-top: 7rem;
}

.column {
  @include column-padding;
}

.row--thin {
  @include page-section-padding;
  padding-top: 0;
  padding-bottom: 0;
}

.no-padding {
  @include breakpoint($large) {
    @include no-column-padding;
  }
}
.inverted-section {
  @include inverted-section;
}

.column {
  .column__image-container {
    width: 100%;
    outline: red solid 1px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.column.column--offset-left {
  @include breakpoint($large) {
    div,
    p,
    img {
      position: absolute;
      left: -1rem;
    }
  }
}
.column--image-container {
  background-repeat: no-repeat;
}

.column--heading h3 {
  margin: 0;
}

.row--flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

