a,
.link,
a.link--secondary {
  color: $black;
  transition-duration: 0.4s;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  &:hover,
  &:focus {
    color: rgba($black, 0.5);
  }
}

.link--arrow {
  @include all-caps-text;
  font-family: $sans-serif;
  text-decoration: none;
  font-size: $helper;
  font-weight: 700;

  &:after {
    transition-duration: 0.4s;
    @extend .u-material-icons;
    // content: url('../images/icons/east_black_24dp.svg');
    content: url('../images/icons/arrow_forward_black_24dp.svg');
    vertical-align: -6px;
    margin-left: 0.25rem;
    transform: scale(0.8);
    margin-bottom: -2px;
  }

  &:hover {
    &:after {
      filter: opacity(50%);
    }
  }
}

.link--arrow.inverted {
  color: $white;

  &:after {
    content: url('../images/icons/arrow_forward_white_24dp.svg');
  }

  &:hover {
    filter: opacity(50%);
  }
}

a.external-link,
div.external-link {
  .title {
    display: inline;
    margin: initial;
    margin-right: 4px;
  }
  .material-icons {
    @extend .u-material-icons;
    font-size: 1.1rem;
    vertical-align: -2px;
    margin: 0;
  }
}

.card--event {
  a.external-link {
    &::after {
      content: '';
    }
  }
}

a.link--primary {
  @include markdown-primary-links;
}

.tweet > a {
  @include markdown-primary-links;
}

a.external-link, span.external-link {
  &:after {
    content: 'open_in_new';
    @extend .u-material-icons;
    font-size: 1.1rem;
    vertical-align: -2px;
    margin: 0;
  }
}

.card--featured {
  a.external-link {
    &:after {
      font-size: 1.5rem;
    }
  }
}