a,
.link {
  color: $black;
  transition-duration: 0.4s;
  text-underline-offset: 2px;

  &:hover,
  &:focus {
    color: rgba($black, 0.5);
  }
}

.link--arrow {
  @include all-caps-text;
  font-family: $sans-serif;
  text-decoration: none;
  font-size: $helper;
  font-weight: 700;

  &:after {
    transition-duration: 0.4s;
    @extend .u-material-icons;
    // content: url('../images/icons/east_black_24dp.svg');
    content: url('../images/icons/arrow_forward_black_24dp.svg');
    vertical-align: bottom;
    margin-left: 0.25rem;
  }

  &:hover {
    &:after {
      filter: opacity(50%);
    }
  }
}

.link--arrow.inverted {
  color: $white;

  &:after {
    content: url('../images/icons/arrow_forward_white_24dp.svg');
  }

  &:hover {
    filter: opacity(50%);
  }
}
@mixin underlined-link {
  transition: box-shadow 0.25s cubic-bezier(0.32, 0.75, 0.25, 1);
  border-bottom: 1px solid $yellow-100;

  &:hover {
    box-shadow: inset 0 -1.15em 0 $yellow-100;
  }
}

.external-link span {
  &::after {
    @extend .u-material-icons;
    content: 'open_in_new';
    font-size: 1.1rem;
    vertical-align: middle;
    margin-left: 4px;
  }
}
