.product-list-page,
.news-list-page {
  h1 {
    font-size: $h2;
    margin: 2rem 0 0 0;
  }

  h2 {
    font-size: $h3;
    margin: 3.3rem 0 0 0;
    padding-top: 3rem;
  }

  .filter-container {
    // new
    @include breakpoint($large) {
      width: 28%;
      position: absolute;
      top: 0;
      bottom: 0;
      // height: 100vh;
    }

    overflow-y: scroll;
    height: auto;

    z-index: 1;

    @include breakpoint($large) {
      background-color: transparent;
    }

    background-color: $gray-50;
    padding-right: 3rem;

    .search-title {
      font-weight: $bold;
      font-family: $sans-serif;
      font-size: $h3;
    }

    .clear-filters {
      display: block;
      font-weight: $bold;
      font-family: $sans-serif;
      font-size: $h5;
      padding: 0.5rem 0;

      &:after {
        transition-duration: 0.4s;
        @extend .u-material-icons;
        content: 'cancel';
        font-size: 20px;
        vertical-align: bottom;
        margin-left: 4px;
      }

      &:hover {
        &:after {
        }
      }
    }
  }

  .dropdown-container {
    margin: 1rem 0;
  }

  .list-container {
    height: 100vh;
    padding: 0 2rem;
    @include breakpoint($large) {
      position: absolute;
      top: 0;
      left: 28%;
      right: 0;
      bottom: 0;
    }
    @include breakpoint($large) {
      padding: 0 7.5rem;
    }
    overflow-y: scroll;
    position: fixed;
  }

  .results-container {
    font-style: italic;
    p {
      margin-top: 0.5rem;
    }
  }

  #results-total,
  #results-filter-detail {
    display: inline-block;
  }

  #results-filter-detail {
    display: none;

    &.js-show {
      display: inline-block;
    }
  }

  .date-toggle-container {
    text-align: right;

    .button__date-sort {
      font-family: $sans-serif;
      @include all_caps_text;
      font-size: $helper;
    }
  }

  #search-container {
    margin-top: 2rem;
  }

  .list-row {
    padding: 0;

    aside.list-aside {
      .bar {
        background-image: url('/images/bar-p.svg');
        background-position: 0 center;
        background-size: contain;
        height: 1rem;
        margin: 2rem 0;
      }
      transition: margin-left 0.4s ease;
      padding: 0 2rem;
      background-color: $gray-50;
      transition: margin-left 0.2s ease;
      @include breakpoint($large) {
        transition: none;
        width: 25rem;
        padding-right: 1rem;
        position: absolute;
        display: block;
        margin-left: 0;
        height: 100vh;
      }
      width: 100%;
      padding: 3rem 0 10rem;
      position: absolute;
      margin-left: -100%;
      height: 100%;
      &.js-active {
        margin-left: 0;
      }
      padding-top: 3rem;
      // height: 100vh;
      overflow-y: scroll;
      .mobile-results-container {
        @include breakpoint($large) {
          display: none;
        }
        margin-top: 1rem;
        button {
          font-family: $sans-serif;
          font-size: $helper;
          font-style: italic;
          padding: 1rem 0;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .product,
  .news-list-item {
    padding: 2.5rem 0;
    font-family: $sans-serif;
    border-bottom: 3px solid $black;

    span {
      display: block;
    }

    &__title {
      font-size: $h4;
    }

    &__subtitle {
      font-size: $h5;
    }

    &__publication {
      font-style: italic;
      font-family: $serif;
      font-size: $h5;
    }

    &__authors p {
      padding: 0;
      margin: 0;
      font-weight: $bold;
      font-size: $h5;
      font-family: $sans-serif;
    }

    &__date {
      @include all_caps_text;
    }

    &__description {
      font-family: $serif;
    }
    &__meta {
      span {
        padding: 4px 0;
      }
    }
  }
}

.product-list-page {
  .intro {
    margin-top: 6rem;
  }

  h2 {
    margin-top: 0;
    padding-top: 1.5rem;
    margin-bottom: 0;
  }
}
