.product-list-page,
.news-list-page {
  h1 {
    font-size: $h2;
    margin: 2rem 0 0 0;
  }

  h2 {
    font-size: $h3;
    margin: 3.3rem 0 0 0;
    padding-top: 3rem;
  }

  .filter-container {
    // new
    @include breakpoint($large) {
      width: 28%;
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100vh;
    }
    overflow-y: scroll;
    height: auto;

    z-index: 1;

    @include breakpoint($large) {
      background-color: transparent;
    }

    background-color: $gray-50;
    padding-right: 3rem;

    .search-title {
      font-weight: $bold;
      font-family: $sans-serif;
      font-size: $h3;
    }

    .clear-filters {
      display: block;
      font-weight: $bold;
      font-family: $sans-serif;
      font-size: $h5;

      &:after {
        transition-duration: 0.4s;
        @extend .u-material-icons;
        content: 'cancel';
        font-size: 20px;
        vertical-align: bottom;
        margin-left: 4px;
      }

      &:hover {
        &:after {
        }
      }
    }
  }

  .dropdown-container {
    margin: 1rem 0;
  }
  .list-container {
    @include breakpoint($large) {
      position: absolute;
      top: 0;
      left: 28%;
      right: 0;
      bottom: 0;
      height: 100vh;
    }
    @include breakpoint($large) {
      padding: 0 7.5rem;
    }

    @include breakpoint($between-large) {
    }

    @include breakpoint($medium-only) {
    }

    @include breakpoint($small-only) {
    }

    overflow-y: scroll;
  }
  .results-container {
    font-style: italic;
  }

  #results-total,
  #results-filter-detail {
    display: inline-block;
  }

  #results-filter-detail {
    display: none;

    &.js-show {
      display: inline-block;
    }
  }

  .date-toggle-container {
    text-align: right;

    .button__date-sort {
      font-family: $sans-serif;
      @include all_caps_text;
      font-size: $helper;
    }
  }

  #search-container {
    margin-top: 2rem;
  }

  .list-row {
    // padding-top: 3rem;
    aside {
      background-color: $gray-50;

      @include breakpoint($large) {
        width: 25rem;
        padding-right: 1rem;
      }

      width: 100vw;
      padding: 0;
    }

    .list-aside {
      padding-top: 3rem;
    }
  }

  .product,
  .news-list-item {
    padding: 2.5rem 0;
    font-family: $sans-serif;
    border-bottom: 3px solid $black;

    span {
      display: block;
    }

    &__title {
      font-size: $h4;
    }

    &__subtitle {
      font-size: $h5;
    }

    &__publication {
      font-style: italic;
      font-family: $serif;
      font-size: $h5;
    }

    &__authors p {
      padding: 0;
      margin: 0;
      font-weight: $bold;
      font-size: $h5;
      font-family: $sans-serif;
    }

    &__date {
      @include all_caps_text;
    }

    &__description {
      font-family: $serif;
    }
  }
}
