#map,
#map3 {
  height: 400px;
  width: 100%;
  margin: 30px 0;
}

// .vendor-popup1 .mapboxgl-popup-content1 {
//   /*Change styling of pop up box and text here!*/
//   background-color: #c0c0c0;
//   color: #000000;
//   font-size: 16px/26px;
//   font-family: $sans-serif;
//   border: 1px solid black;
// }

// .vendor-popup1 .mapboxgl-popup1 {
//   max-width: 400px;
// }

// .mapboxgl-ctrl-bottom-right {
//   a {
//     font-size: 0.8rem;
//   }
// }