.markdown-content {
  img {
    margin: 1rem 0;
  }

  // target markdown captions
  img+em {
    @include figcaption-styling;
  }

  h1 {
    font-size: $h2;
    line-height: 1.2;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: $h3;
    font-weight: 200;
    line-height: 1.2;
  }

  h4 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
  }

  // a {
  //   text-decoration: none;
  // }

  ul,
  li {
    font-family: $serif;
    font-size: 1.2rem;
  }

  a {
    @include markdown-primary-links;
  }
}

.markdown-secondary {
  img+em {
    @include figcaption-styling;
  }

  h1 {
    font-size: $h2;
    line-height: 1.2;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: $h3;
    font-weight: 200;
    line-height: 1.2;
  }

  h4 {
    font-size: $h4;
    font-weight: bold;
    line-height: 1.2;
  }

  ul,
  li {
    font-family: $serif;
    font-size: 1.2rem;
  }

  a {
    @include markdown-primary-links;
  }
}