/* Layout mixins */

@mixin page-section-padding {
  padding: 4rem 6rem;
  @include breakpoint($medium-only) {
    padding: 0 2rem;
  }
  @include breakpoint($small-only) {
    padding: 2rem 1.5rem;
  }
}

@mixin column-padding {
  padding: 0 1rem;
}

@mixin no-column-padding {
  padding: 0;
}

@mixin inverted-section {
  color: $white;
  background-color: $black;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $white;
    background-color: $black;
  }
}

@mixin uninverted-section {
  color: $black;
  background-color: $white;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: $black;
    background-color: $white;
  }
}

/* Typography Mixins*/

@mixin all-caps-text {
  font-size: $helper;
  text-transform: uppercase !important;
  font-weight: 700;
}

@mixin inverted-text {
  color: $white;
}

@mixin underlined-link {
  transition: box-shadow 0.25s cubic-bezier(0.32, 0.75, 0.25, 1);
  border-bottom: 1px solid $yellow-100;

  &:hover {
    box-shadow: inset 0 -1.15em 0 transparentize($yellow-100, 0.5);
  }
}

@mixin markdown-primary-links {
  text-decoration: none;
  display: inline;
  word-wrap: break-word;
  @include underlined-link;
}

@mixin figcaption-styling {
  font-family: $sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 2rem;
  font-size: $helper;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.transition {
  transition-duration: 0.4s;
}

// accessibility helpers
// https://www.w3.org/WAI/tutorials/forms/labels/
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-to-main-content-link {
  z-index: 6;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: $orange-100;
  color: $white;
  height: 3.5rem;
  left: 6rem;
  padding: 1rem 2rem;
  position: absolute;
  transform: translateY(-100%);
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.skip-to-main-content-link:focus {
  transform: translateY(0%);
}

.not-visible {
  outline: orange solid 2px;
  display: none !important;
}
