.nav-is-active > .main-nav a {
  display: block;
}

.main-nav {
  button {
    border-radius: 0;
    height: 3.5rem;
  }
  padding-top: 96px;
  background-color: $purple-100 !important;
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-350px);
  transition: transform 0.2s;
  overflow-y: auto;
  z-index: 100 !important;

  a.nav-top-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.5rem;
    height: 3.5rem;
    padding: 0 0.5rem;
    img {
      position: inherit;
      height: 100%;
      width: 8.5rem;
      max-width: 8.5rem;
      padding: 0.5rem;
    }
  }

  .link {
    color: $white;
    display: none;
    padding: 0.5rem 5rem;
    font-family: $sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    transition: 0.4s ease;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $yellow-100;
    }
  }

  .home-icon {
    color: white;
    position: absolute;
    top: 0;
    right: 3rem;
    width: 5rem;
    font-size: 2rem;
    max-width: 2rem;
    span {
      padding: 16px 4px;
    }
  }

  .close-nav {
    background-color: $purple-100;
    cursor: pointer;
    color: $white;
    font-size: 2rem;
    position: absolute;
    right: 4px;
    top: 0;
  }
}

.open-nav {
  display: flex;
  border-radius: 0;
  line-height: inherit;
  font-size: 1.7rem;
  height: 3.5rem;
  cursor: pointer;
  z-index: 100 !important;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }
  .menu-button__decorator.material-icons {
    font-size: 3rem;
    color: $white;
    display: inline;
    vertical-align: bottom;
    border-radius: 0;
    background-color: $purple-100;
    height: 100%;
    padding-top: 4px;
  }

  .menu-button__text {
    text-transform: uppercase;
    padding: 1rem;
    background-color: $white;
    color: $purple-100;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }
}

.menu-item {
  background-color: $white;
  color: $purple-100;
  padding: 1rem 0.7rem 41px;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

// Account for slider nav
body {
  margin: 0;
  overflow-x: hidden;
}

main {
  transition: transform 0.2s;
}

.nav-active {
  transform: translateX(0);
}

.main-active {
  transform: translateX(350px);
}
.open-nav {
  transition: margin-left 0.2s ease;
}
.nav-is-active > .open-nav {
  margin-left: 350px;
}
