.projects-page {
  // missing in contentful
  padding-bottom: 6rem;

  .top-section {
    h1 {
      font-size: $h2;
    }

    background-image: url('//images.ctfassets.net/7yhm3nqs96oa/25v7BSW4raBTcauZbmkAIL/8f82b02a072c2327b70b8b679de95953/header-beam-right-c.png');
    background-position-x: 5rem;
    background-size: 95%;
    background-repeat: no-repeat;
    @include breakpoint($medium-only) {
      background-image: none !important;
    }
  }

  .decorator {
    margin: 0;
  }
}
