.projects-page {
  .top-section {
    h1 {
      font-size: $h2;
    }
    background-image: url('../images/circle-logo.svg');
    background-repeat: no-repeat;
    background-position: calc(100% + 4rem);
  }
  .decorator {
    margin: 0;
  }
}
