.product-page {
  h1 {
    font-size: $h2;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: $h3;
    font-weight: 200;
    line-height: 1.2;
  }

  h4 {
    font-size: $h4;
    font-weight: bold;
    line-height: 1.2;
  }

  a {
    text-decoration: none;
  }

  ul,
  li {
    font-family: $serif;
    font-size: 1.2rem;
  }

  .product__subtitle,
  .product__authors {
    margin: 2rem 0;

    p {
      font-family: $sans-serif;
      @include all_caps_text;
      font-size: $helper;

      a {
        @include all_caps_text;
        font-size: $helper;
        color: $black;
      }
    }
  }

  .product__subtitle {
    font-family: $sans-serif;
    font-size: $h3;
    font-weight: 200;
    line-height: 1.2;
  }

  .product {
    &__left-column {
      padding: 0;
      padding-top: 2.5rem;
      padding-bottom: 10rem;

      h2,
      h3,
      h4,
      h5,
      blockquote,
      ul,
      ol,
      .table__body,
      .product-code,
      img,
      p {
        @include breakpoint($large) {
          padding-left: 6rem;
          padding-right: 7rem;
        }

        @include breakpoint($medium-only) {
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      ul,
      ol {
        margin-left: 1rem;

        li {
          p {
            padding-left: 1rem;
          }
        }
      }

      a {
        color: $black;
        @include underlined-link;
      }

      .figure,
      .code {
        padding: 2rem 0;

        &__image {
          width: 100%;
        }

        &__title {
          font-size: $h4;
          font-weight: bold;
          line-height: 1.2;
          font-family: $sans-serif;
        }

        &__caption {
          p {
            color: #707070;
            font-family: $sans-serif;
          }
        }
      }

      .table {
        padding: 1rem 0;

        &__title {
          font-weight: bold;
        }

        &__body {
          table {
            width: 100%;
            font-family: $sans-serif;
            font-size: 1.1rem;

            tr:nth-child(odd) {
              background-color: #eef1f7;
            }

            tr:nth-child(even) {
              background-color: #f9fafc;
            }

            tr {
              text-align: left;

              th {
                font-weight: bold;
                padding: 1rem;
                border-bottom: 2px solid;
                background-color: $gray-200;
              }

              td {
                padding: 1rem;
              }
            }
          }
        }
      }

      .product-code {
        margin-top: 3rem;
      }
    }

    &__slide-panel {
      .product-links {
        padding: 6rem 0;

        .button {
          display: block;
          width: 85%;

          @include breakpoint($small-only) {
            width: 100%;
          }
        }

        .product__authors {
          display: block;
        }
      }

      .author {
        display: block;
        color: $black;
        @include all_caps_text;
        font-family: $sans-serif;
        margin-bottom: 0.5rem;
        font-size: $helper;

        &:hover,
        &:focus {
          color: rgba($black, 0.5);
        }
      }
    }

  }

  blockquote:not(.pull-quote) {
    margin: 0;
    display: block;
    position: relative;

    div {
      width: 10px;
      background-color: #bce9f8;
      border-radius: 10px;
      position: absolute;
      // left: 0;
      top: 1.5rem;
      bottom: 1.5rem;
    }

    p {
      display: inline-block;
      padding-left: 0;
      margin-left: 2rem;
      padding-right: 0;
    }
  }

  .box {
    background-color: #f0f0f0;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin-top: 4rem;

    &__title {
      font-size: $h3;
      font-weight: 200;
      line-height: 1.2;
      font-family: $sans-serif;
    }

    &__content {
      li {
        padding-left: 1rem;
      }
    }

    &__image {
      width: 100%;
    }
  }

  .pull-quote {
    margin: 4rem 0;

    .quote {
      p {
        margin: 1rem 0;
        font-size: 2.5rem;
        color: $purple-100;
        font-family: $sans-serif;
        font-weight: bold;
        line-height: 1.2;
        padding: 0;

        &:before {
          content: '“';
        }

        &:after {
          content: '”';
        }
      }
    }

    .attribution {
      p {
        margin: 0;
        padding-left: 0;
        padding-top: 1rem;
      }
    }
  }
}

.footnote-container {
  .row {
    padding: 0 !important;
  }

  a {
    @include markdown-primary-links;
  }
}

.no-padding {
  .row {
    padding: 0;
  }
}