.slide-panel,
.mobile-slide-nav {
  visibility: hidden;
  transition: visibility 0s 0.6s;

  &--is-visible {
    visibility: visible;
    transition: visibility 0s 0.1s;
  }

  &__container {
    background-color: #fafafa;
    color: $black;
    overflow-y: scroll;
    padding: 0;
    scroll-behavior: smooth;
    width: 50%;

    &--footnote {
      position: absolute;
    }

    @include breakpoint($large) {
      top: 0;
      width: 100%;
    }

    @include breakpoint($medium) {
      width: 100%;
      bottom: 0;
    }

    @include breakpoint($small-only) {
      width: 100%;
      bottom: 0;
    }

    height: 100%;
    transition: transform 0.3s 0.3s;
    z-index: 2;
  }

  .row {
    margin: 0 2rem 0 2rem;
  }

  &__content {
    // Add margin-bottom for last footnote to scroll to top
    margin-bottom: 5000rem;

    blockquote {
      display: none !important;
    }

    p {
      margin: 0;

      a {
        color: $black;
      }
    }

    p:not(.footnote-numbers) {
      word-wrap: break-word;
      -ms-word-wrap: break-word;
    }

    ul,
    ol {
      list-style: none;
      padding: 0;
    }
  }
}

.slide-panel--from-right .slide-panel__container {
  right: 0rem;
  transform: translate3d(100%, 0, 0);

  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    width: 25%;
  }

}

.slide-panel--from-left .mobile-slide-nav__container {
  left: 0;
  transform: translate3d(-100%, 0, 0);

}

.slide-panel--from-bottom .slide-panel__container {
  bottom: 0rem;
  transform: translate3d(0, 100%, 0);
}

.slide-panel--is-visible .slide-panel__container,
.slide-panel--is-visible .mobile-slide-nav__container {
  transform: translate3d(0, 0, 0);
  transition-delay: 0.1s;
}

.close-button-container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
}

button.close-panel {
  color: $black;
  background-color: transparent;
  position: sticky;
  position: -webkit-sticky;
  top: 0.5rem;
  left: 0.5rem;

  i.material-icons {
    margin: 0;
  }
}

.product__slide-panel {
  position: relative;
}

.footnote-container {
  margin: 1rem 0 2rem 0;

  @include breakpoint($medium) {
    margin: 2rem 0 2rem 2rem;
  }

  @include breakpoint($small-only) {
    margin: 2rem 0 2rem 1rem;
  }

  p,
  a {
    font-size: 1rem !important;
    color: transparentize($color: $black, $amount: 0.5) !important;
  }

  // a {
  //   word-wrap: break-word;
  //   -ms-word-wrap: break-word;
  //   @include underlined-link;
  // }

  &.active-footnote {

    p,
    a {
      color: $black !important;
      padding-top: 2rem;
    }

    // a {
    //   @include underlined-link;
    // }
  }
}

.fixed-panel {
  position: fixed;
  width: 100%;

  @include breakpoint($large) {
    top: 6.7rem;
    width: 100%;
    height: 100% !important;
    bottom: 0;
  }

  @include breakpoint($medium) {
    margin-top: 0;
    height: 18rem;
    bottom: 0;
    // left: 0;
    right: 0;
  }

  @include breakpoint($small-only) {
    margin-top: 0;
    height: 18rem;
    bottom: 0;
    // left: 0;
    right: 0;
  }
}

.footnote {
  cursor: pointer;
  z-index: 2;
}

// Overwrite row margin in slide panel
.slide-panel .row {
  margin: 0 1rem;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.js-active {
  display: block !important;
}