
  
  .styleguide-header {
    background-color: $pink-100;
  }
  .wrap__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .block__container {
    display: block;
  }

  pre { font-size: 1rem; }
  /*
  Color swatches
  ========================================================================== */

.color__tile {
  display: inline-block;
  align-items: center;
  border: solid 1px black;
  border-radius: 1px;
  height: 100px;
  width: 100px;

}

.color__name {
  color: $black;
  background-color: $white;
}

/*
   Background colors
   ========================================================================== */
   $color: ("white", $white), ("black", $black), ("black-50", $black-50), ("gray-100", $gray-100), ("gray-200", $gray-200), ("gray-300", $gray-300),("purple-100", $purple-100), ("blue-100", $blue-100), ("green-100", $green-100), ("orange-100", $orange-100), ("yellow-100", $yellow-100), ("pink-100", $pink-100), ("sky-blue-100", $sky-blue-100);

  @each $name, $bgcolor in $color {
    .color__tile--#{$name} {
      background-color: $bgcolor;
    }
  }

/*
   Headings
   ========================================================================== */

