.tags-container {
    margin-left: -8px;
    // justify-content: space-between;
}

.tag {
    font-size: $helper;
    font-family: $sans-serif;
    font-weight: 700;
    color: $gray-200;
    border-radius: 4rem;
    padding: 4px 16px;
    display: inline-block;
    margin: 4px 8px;
}

.tag--orange, .tag--law-area { background-color: $orange-100;}
.tag--green, .tag--topic { background-color: $green-100;}
.tag--blue, .tag--tag { background-color: $blue-100;}

