.topic-page {
  padding-bottom: 8rem;
  background-color: $gray-200;

  .heading-start {
    font-size: $h3;
    font-family: $sans-serif;
    font-weight: $bold;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-size: $h3;
  }

  .row {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .top-section {
    padding-bottom: 6rem;
  }
}

.page-section--topic.top-section {
  padding-top: 8.5rem;
  background-repeat: no-repeat;
  background-position: calc(100% + 5rem) -4rem;
  background-size: cover;
  @include breakpoint($medium-only) {
    background-image: none !important;
  }
}

.topics-dropdown-container {
  padding-top: 7rem;
}
