$serif: 'EB Garamond', serif;
$sans-serif: 'Roboto Condensed', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $black;
}

$h1: 4.2rem;
$h2: 3rem;
$h3: 1.8rem;
$h4: 1.5rem;
$h5: 1.2rem;
$h6: 1.1rem;
$p: 1.2rem;
$helper: 1rem;


$bold: 700;
$regular: 400;
$light: 300;

h1 {
  font-size: $h1;
  line-height: 1.2;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
  font-weight: 300;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  font-size: $p;
  font-family: $serif;
  font-weight: 400;
}

.helper {
  font-size: $helper;

}

p.helper.inactive {
  color: $black-50;
}

#all-caps-text {
  @include all-caps-text;
}

.heading-a {
  font-family: $sans-serif;
  font-size: $h3;
}

.heading-b {
  font-family: $sans-serif;
  font-weight: $light;
  font-size: $h4;
}

.heading-c {
  // sans serif all caps bold small
  font-family: $sans-serif;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: $h5;
  margin: .5rem;
}

.page-section--topic {
  h1 {
    font-size: $h2;
    margin: 0;
  }
}

.card-section-heading {
  // margin-top: 2rem;

  h2 {
    font-size: $h3;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.topics-dropdown-container {
  #line-one {
    font-family: $sans-serif;
    font-size: $h1;
    font-weight: $bold;
    line-height: 1;
  }
}