* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$large: screen and (min-width: 64em);

@import 'breakpoint';
@import 'base';

$white: #FFFFFF;
$black: #000000;
$gray-300: #24292C;
$gray-200: #696C6D;
$gray-100: #F8F8F8;
$yellow: #EEC357;
$purple: #5A43ED;
$blue-200: #252346;
$blue-100: #30AAB3;
$red: #E64448;