* {
  box-sizing: border-box;
}

// Breakpoints
$small-only: screen and (max-width: 39.9375em);
$touch: screen and (max-width: 64em);
$medium: screen and (min-width: 40em);
$medium-only: screen and (min-width: 40em) and (max-width: 63.9375em);
$between-large: screen and (min- width: 1024px) and (max-width: 1260px);
$large: screen and (min-width: 64em);

@import 'colors';
@import 'mixins';
@import 'typography';
@import 'breakpoint';
@import 'base';
@import 'styleguide';

@import 'button';
@import 'tags';
@import 'layout';
@import 'cards';
@import 'header';
@import 'index';
@import 'elements';
@import 'generic';
@import 'topic';
@import 'project';
@import 'news';
@import 'profile';
@import 'events';
@import 'projects';
@import 'products';
@import 'decorator';
@import 'list';
@import 'search';
@import 'dropdown';
@import 'checkbox';
@import 'about';
@import 'slide-panel';
@import 'fixed-nav';
@import 'courses';
@import 'markdown';
@import 'footer';
@import 'nav';
@import 'links';
@import 'maps';

// div, .row, .column, .top-section {
//   @include breakpoint($large) {
//     outline: red solid 1px;
//   }
//   @include breakpoint($between-large) {
//     outline: pink solid 1px;
//   }
//   @include breakpoint($medium-only) {
//     outline: blue solid 1px;
//   }
//   @include breakpoint($small-only) {
//     outline: green solid 1px;
//   }
//   outline: yellow solid 1px;
// }