<footer>
  <div class="row expanded footer">
    <div class="column large-5 small-12">
      <img class="footer--logo" src="{{ '/images/ec-logo.svg' | relative_url }}" alt="Engelberg Center logo">
      <p class="footer--about">The Engelberg Center on Innovation Law & Policy at NYU School of Law provides a unique environment where scholars can examine the key drivers of innovation as well as the law and policy that best support innovation.</p>
    </div>
    <div class="column large-4 large-offset-1 small-12">
      <span class="footer--section-title">Join Our Mailing List</span>
      {% include components/form.html %}
    </div>
    <div class="column large-2 small-12 footer--nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/our-mission' | relative_url }}">Our Mission</a>
      <a href="{{ '/our-people' | relative_url }}">Our People</a>
      <a href="{{ '/what-we-do' | relative_url }}">What We Do</a>
      <a href="{{ '/for-students' | relative_url }}">For Students</a>
      <a href="{{ '/events' | relative_url }}">Events</a>
      <a href="{{ '/products' | relative_url }}">Products</a>
      <a href="{{ '/news' | relative_url }}">News</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/getting-involved' | relative_url }}">Getting Involved</a>
      <a href="https://www.nyu.edu/footer/accessibility.html">Accessibility</a>
      <a href="https://www.nyu.edu/footer/copyright-and-fair-use/digital-privacy-statement.html">Privacy Policy</a>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="row expanded">
    <div class="column large-10 small-12">
      <span class="copyright--top-text">Engelberg Center on Innovation Law & Policy</span>
      <span class="copyright--bottom-text">
        <span>139 MacDougal Street Room 408, New York, NY 10012</span>
        <span class="copyright--bottom-text__number">212.998.6013</span> 
        <span><a href="mailto:engelberg.center@nyu.edu" class="link--primary">engelberg.center@nyu.edu</a></span>
      </span>
    </div>
    <div class="column large-2 small-12">
      <a href="https://www.law.nyu.edu/"><img class="footer--logo" src="{{ '/images/nyu-logo-footer.svg' | relative_url }}" alt="New York University logo"></a>
    </div>
  </div>
</div>