<footer>
  <div class="row expanded footer">
    <div class="column large-5 small-12">
      <img class="footer--logo" src="{{ '/images/lf-logo.svg' | relative_url }}" alt="Library Futures logo">
      <div class="footer--about">{{ site.data.contentful.index.index[0].footer_blurb | markdownify }}</div>
    </div>
    <div class="column large-4 large-offset-1 small-12">
      <span class="footer--section-title">Join Our Mailing List</span>
      {% include components/form.html %}
    </div>
    <div class="column large-2 small-12 footer--nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/who-we-are' | relative_url }}">Who We Are</a>
      <a href="{{ '/our-work' | relative_url }}">What We Do</a>
      <a href="{{ '/blog' | relative_url }}">Blog</a>
      <a href="{{ '/events' | relative_url }}">Events</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
      <a href="{{ '/advocacy' | relative_url }}">Advocacy</a>
      <!-- <a href="{{ '/legal-work' | relative_url }}">Legal Work</a> -->
      <a href="{{ '/research-network' | relative_url }}">Research Network</a>
      <a href="{{ '/internships' | relative_url }}">Internships</a>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="row expanded">
    <div class="column large-10 small-12">
      <span class="copyright--top-text">Library Futures</span>
      <div class="copyright--bottom-text">
        <p>Content licensed under CC BY 4.0</p>
      </div>
    </div>
    <div class="column large-2 small-12">
      <a href="https://www.law.nyu.edu/"><img class="footer--logo" src="{{ '/images/nyu-logo.svg' | relative_url }}" alt="New York University logo"></a>
    </div>
  </div>
</div>