<header class="top-bar {% if page.mobile_list %}top-bar--mobile-list{% endif %}" tabindex="0">
    <span class="top-bar__menu-button js-trigger-menu js-trigger-menu--left">
      <button class="button button--menu material-icons material-icons--menu-left"></button>
      <!-- <span class="material-icons material-icons--menu-left">more_vert</span> -->
      <span class="menu-text">MENU</span>
    </span>
    <nav class="main-nav">
      <a href="#" class="close-button"><i class="material-icons">close</i></a>
      <a class="home-button" href="{{ '/' | relative_url }}"><i class="material-icons">home</i></a>
      <div class="row expanded">
        <div class="column large-3 small-12 medium-6 link-column">
          <span class="header-link header-link--no-hover">Heading</span>
          <a href="{{ '/about' | relative_url }}">About</a>
        </div>
        <div class="column large-4 small-12 medium-6 link-column">
          <span class="header-link header-link--no-hover">Heading</span>
          <div class="row expanded">
            <div class="column large-6 small-6">
              <a href="{{ '/about' | relative_url }}">About</a>
            </div>
            <div class="column large-6 small-6">
              <a href="{{ '/about' | relative_url }}">About</a>
            </div>
          </div>
        </div>
        <div class="column large-3 small-12 medium-6 link-column">
          <span class="header-link header-link--no-hover">Heading</span>
          <a href="{{ '/about' | relative_url }}">About</a>
        </div>
        <div class="column large-2 small-12 medium-6 link-column link-column--logo">
          <span class="header-link header-link--no-hover">Heading</span>
          <img class="logo" alt="logo" src="{{'/images/circle-logo.svg' | relative_url}}">
        </div>
      </div>
    </nav>
  </header>
  