<header>
  <nav class="main-nav">
    <img src="{{ '/images/nyu-logo.svg' | relative_url }}" alt="New York University logo">
    <span class="material-icons close-nav" tabindex="2">chevron_left</span>
    <a href="{{'/'.html' | relative_url }}">Home</a>
    <a href="{{'/about.html' | relative_url }}">About</a>
    <a href="{{ '/our-mission' | relative_url }}">Our Mission</a>
    <a href="{{ '/our-people' | relative_url }}">Our People</a>
    <a href="{{ '/what-we-do' | relative_url }}">What We Do</a>
    <a href="{{ '/for-students' | relative_url }}">For Students</a>
    <a href="{{ '/events' | relative_url }}">Events</a>
    <a href="{{ '/products' | relative_url }}">Products</a>
    <a href="{{ '/news' | relative_url }}">News</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="{{ '/getting-involved' | relative_url }}">Getting Involved</a>
  </nav>
</header>

