<nav class="main-nav" tabindex="-1">
  <div class="main-nav__top-row">
    <div class="top-row--right">
      <button class="material-icons close-nav">chevron_left</button>
      <a class="home-icon" href="/" aria-label="home"><span class="material-icons">home</span></a>
    </div>
    <a class="nav-top-logo top-row--left" href="https://www.law.nyu.edu/">
      <img src="{{ '/images/nyu-logo.svg' | relative_url }}" alt="New York University logo" />
    </a>
  </div>
  <a class="link" href="{{ '/' | relative_url }}">Home</a>
  <a class="link" href="{{ '/who-we-are' | relative_url }}">Who We Are</a>
  <a class="link" href="{{ '/our-work' | relative_url }}">What We Do</a>
  <a class="link" href="{{ '/blog' | relative_url }}">Blog</a>
  <a class="link" href="{{ '/events' | relative_url }}">Events</a>
  <a class="link" href="{{ '/publications' | relative_url }}">Publications</a>
  <a class="link" href="{{ '/advocacy' | relative_url }}">Advocacy</a>
  <!-- <a class="link" href="{{ '/legal-work' | relative_url }}">Legal Work</a> -->
  <a class="link" href="{{ '/research-network' | relative_url }}">Research Network</a>
  <a class="link" href="{{ '/internships' | relative_url }}">Internships</a>
  <a class="link" href="{{ '/donate' | relative_url }}">Donate</a>
</nav>
