{% seo %}

{%if page.featured_image or page.seo_image_path or site.seo_image_path %}
  {% if page.featured_image %}
    <meta property="og:image" content="https:{{ page.featured_image.url}}" />
    <meta name="twitter:image" content="https:{{ page.featured_image.url}}">
    <meta property="og:image:width" content="{{ page.featured_image.details.image.width }}">
    <meta property="og:image:height" content="{{ page.featured_image.details.image.height }}">
  {% elsif page.column_images.first %}
    {% comment %} Blog posts use multiple columnImages {% endcomment %}
    <meta property="og:image" content="https:{{ page.column_images.first.url}}" />
    <meta name="twitter:image" content="https:{{ page.column_images.first.url}}">
    <meta property="og:image:width" content="{{ page.column_images.first.details.image.width }}">
    <meta property="og:image:height" content="{{ page.column_images.first.details.image.height }}">
  {% elsif page.seo_image_path %}
    <meta property="og:image" content="{{ page.seo_image_path | absolute_url }}" />
    <meta name="twitter:image" content="{{ page.seo_image_path | absolute_url }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  {% else %}
    <meta property="og:image" content="{{ site.seo_image_path | absolute_url }}" />
    <meta name="twitter:image" content="{{ site.seo_image_path | absolute_url }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  {% endif %}
{% endif %}

<meta name="twitter:card" content="summary_large_image">

{%if site.twitter_username%}
  <meta name="twitter:site" content="{{ 'https://twitter.com/' | append: site.twitter_username }}">
{%endif%}

{% if page.title or site.title %}
  <meta name="twitter:title" content="{% if page.title | escape %}{{ page.title | escape }}{% else %}{{ site.title}}{% endif %}">
{% endif %}

{%if page.description or site.description %}
  {% if page.description %}
    {%comment%} use page descriptions to avoid duplicate descriptions{%endcomment%}
    <meta name="twitter:description" content="{{page.description | escape}}">
  {% else %}
    <meta name="twitter:description" content="{{site.description | escape}}">
  {% endif %}
{% endif %}
