---
layout: default
title: Engelberg Center on Innovation Law & Policy
description: The Engelberg Center on Innovation Law & Policy at NYU School of Law examines the key drivers of innovation as well as the law and policy that best support innovation.
top_bar: no-logo
---

{% assign data = site.data.contentful.index.index | first %}

<main role="main" id="main" class="index">
  <!-- main content starts here -->
  <!-- FEATURED PROJECT CARD  -->
  {% include components/nav-button.html %}
  <div class="row expanded section--gray top-section">
    <div class="column large-5 medium-12 small-12">
      <h1 class="visually-hidden">Library Futures</h1>
      <div class="main-header" aria-hidden="true">
        <img id="main-logo" src="{{ '/images/lf-vertical-lockup-color.svg' | relative_url }}" />
        {% comment %}
        <div class="logo-container"></div>
        <span class="main-header-one">Library Futures</span>
        <span class="main-header-three">at the Engelberg Center on Innovation Law & Policy at NYU Law</span>
        {% endcomment %}
      </div>
      <div class="button-container">
        <a class="button button--arrow" href="{{ '/our-mission' | relative_url }}">About the Engelberg Center</a>
      </div>
    </div>
    <div class="column large-6 large-offset-1 no-padding medium-12 small-12">
      <h2 class="heading-c">Featured Research</h2>

      {% include components/card-featured.html card=data.featured_research path="/outputs/" %}

      <div class="button-container button-container--right">
        <a class="button button--arrow" href="{{ '/outputs' | relative_url  }}">All Engelberg Center Research</a>
      </div>
    </div>
  </div>
  <!-- END FEATURED PROJECT CARD  -->

  <!-- PODCAST CARD with header, title, episode image, episode description, player -->
  <!-- Layout 2 -->
  <div class="row expanded inverted-section">
    <div class="column large-4 medium-12 small-12 no-padding">
      {% include components/card-podcast.html podcast=data.featured_podcast %}
    </div>
    <div class="column large-7 large-offset-1 medium-12 small-12">
      <h3 class="heading-b">{{data.short_description_title}}</h3>
      <div class="markdown-secondary">
        {{ data.short_description | markdownify }}
      </div>
      <a class="link link--arrow inverted" href="{{ data.learn_more_url }}">Learn More</a>
    </div>
  </div>

  <!-- END PODCAST CARD  -->

  <!-- Layout 2 -->
  <div class="row expanded twitter-news-container">
    
    {%comment%}
    <!-- <div class="column large-4 medium-12 small-12">
      <h3 class="heading-b">From Twitter</h3>
      <a class="link link--arrow" href="https://twitter.com/nyuengelberg">Follow us on Twitter</a>
      <div class="twitter-feed__container" id="twitter-container">
        <a
          class="twitter-timeline"
          href="https://twitter.com/nyuengelberg"
          data-tweet-limit="3"
          data-chrome="nofooter noheader transparent"
        >
          Tweets by @TwitterDev
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div> -->
    <div class="column large-7 large-offset-1 medium-12 small-12">
    {% endcomment %}
      <div class="column">
      <h3 class="heading-b">In the News</h3>
      <a class="link link--arrow" href="{{ '/news' | relative_url }}">All Engelberg Center News</a>
      <div class="news-feed__container markdown-secondary">
        {% for item in data.featured_news %} {% include components/news-item.html item=item %} {% endfor %}
      </div>
    </div>
  </div>
  <!-- END LAYOUT 2 -->
  <!-- EVENT CARD with date, title, type  -->
  {% if data.upcoming_events and data.upcoming_events.size != 0 %}
  <div class="row expanded">
    <div class="column large-12 small-12">
      <h3 class="heading-b">Upcoming Events</h3>
    </div>
    <div class="cards-wrapper">
      {% for card in data.upcoming_events %} {% include components/card-event.html card=card event_type="upcoming" %} {%
      endfor %}
    </div>
  </div>
  {% endif %}
  <!-- END EVENT CARD  -->
</main>
