---
layout: default
top_bar: white
title: Our Work
description:
seo_image_path: #'/images/media/filename.jpg'
---

{% assign products = site.data.contentful.product.product %}

{% assign all_authors = "" | split: "" %}
{% assign all_types = "" | split: "" %}
{% assign all_law_areas = "" | split: "" %}
{% assign all_topics = "" | split: "" %}
{% assign all_tags = "" | split: "" %}

{% for product in products %}
  {% for author in product.engelberg_author %}
    {% assign all_authors = all_authors | push: author.display_name %}  
  {% endfor %}

  {% assign all_types = all_types | push: product.type %}

  {% for law_area in product.law_area %}
    {% assign all_law_areas = all_law_areas | push: law_area %}  
  {% endfor %}

  {% for topic in product.topic%}
    {% assign all_topics = all_topics | push: topic %}  
  {% endfor %}

  {% for tag in product.tag %}
    {% assign all_tags = all_tags | push: tag %}  
  {% endfor %}

{% endfor %}

{% assign all_authors = all_authors | uniq | compact | sort %}
{% assign all_types = all_types | uniq | compact | sort %}
{% assign all_law_areas = all_law_areas | uniq | compact | sort %}
{% assign all_topics = all_topics | uniq | compact | sort %}
{% assign all_tags = all_tags | uniq | compact | sort %}


<!-- LAYOUT 9: Lists  -->
<main id="main" class="product-list-page">
  {% include components/nav-button.html %}
  <section id="product-list">
    <div class="row expanded no-padding list-row">
      <aside class="list-aside filter-container">
        <div class="column large-offset-2">
          <h1>{{ page.title }}</h1>
          <div class="heading-decorator">
            <div class="decorator"></div>
          </div>
          <span class="search-title">Search and filters</span>
          <button class="clear-filters">Clear all</button>
          <div id="search-container">
            <div class="search-component">
              <label class="visually-hidden" for="searchfield">Search</label>
              <input
                class="search-field"
                type="text"
                id="searchfield"
                name=""
                aria-label="Search for a product"
                placeholder="Search"
              />
              <button type="button" class="search-submit" aria-label="Search submit button"></button>
            </div>
          </div>

          <div class="dropdown-container">
            <div class="dropdown-component">
              {% include components/dropdown.html content=all_authors component_id="product_authors"
              component_name="product_authors" component_default="All Center Authors"
              component_label_class="visually-hidden" %}
            </div>
          </div>

          <div class="dropdown-container">
            <div class="dropdown-component">
              {% include components/dropdown.html content=all_types component_id="product_types"
              component_name="product_types" component_default="Type" component_label_class="visually-hidden" %}
            </div>
          </div>

          <div class="checkbox-container">
            <!-- checkbox  -->
            <span class="checkbox-heading">Area of Law</span>

            {% for area in all_law_areas %} 
              {% include components/checkbox.html 
                class_name="area-checkbox" 
              content=area 
              %} 
            {% endfor %}
          </div>
          <div class="checkbox-container">
            <!-- checkbox  -->
            <span class="checkbox-heading">Topics</span>
            
        
            {% for topic in all_topics %}
              {% include components/checkbox.html 
                class_name="topic-checkbox" 
                content=topic
              %} 
            {% endfor %}
            </div>



          <div class="checkbox-container">
            <!-- checkbox  -->
            <span class="checkbox-heading">Type</span>

            {% for type in all_types %} 
              {% include components/checkbox.html 
                class_name="type-checkbox" 
                content=type
              %} 
            {% endfor %}
          </div>

        </div>
      </aside>
      <div class="column large-offset-1 large-7 no-padding">
        <h2>Results</h2>
        {% include components/list-results.html %}
        <div class="date-toggle-container">
          <button
            id="date-sort"
            type="button"
            class="button__date-sort button__sort--descending js-sort sort {{ class_names }}"
            data-sort="timestamp"
          >
            Date
          </button>
        </div>

        <div class="list">
          {% for product in products  %} 
            {% include components/product.html product=product %} 

            {% include components/product-filter-tags.html product=product %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
