---
layout: default
top_bar: white
title: Our Work
description:
seo_image_path: #'/images/media/filename.jpg'
all_authors:
  - Author One
  - Author Two
  - Author Three
all_types:
  - Type One
  - Type Two
  - Type Three
all_areas:
  - Area One
  - Area Two
  - Area Three
product:
  product_title: My Product Title
  product_authors: Author Name, Author Name, Author Name
  product_publication_date: October 15, 2022
  product_description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit itaque hic praesentium non impedit ab alias aliquam ratione dicta vero?
  product_tags:
    - Patent
    - Something
    - Open Source Hardware
areas:
  - Area One 
  - Area Two
  - Area Three
---

<!-- LAYOUT 9: Lists  -->
<main class="product-list-page">
  <section id="product-list">
    <div class="row expanded no-padding list-row">
      <aside class="list-aside filter-container">
        <div class="column large-offset-2">
          <h1>{{ page.title }}</h1>
          <div class="heading-decorator">
            <div class="decorator"></div>
          </div>
          <span class="search-title">Search and filters</span>
          <button class="clear-filters">Clear all</button>
          <div id="search-container">
            <div class="search-component">
              <label class="visually-hidden" for="searchfield">Search</label>
              <input
                class="search-field"
                type="text"
                id="searchfield"
                name=""
                aria-label="Search for a product"
                placeholder="Search"
              />
              <button type="button" class="search-submit" aria-label="Search submit button"></button>
            </div>
          </div>

          <div class="dropdown-container">
            <div class="dropdown-component">
              {% include components/dropdown.html content=page.all_authors component_id="product_authors"
              component_name="product_authors" component_default="All Center Authors"
              component_label_class="visually-hidden" %}
            </div>
          </div>

          <div class="dropdown-container">
            <div class="dropdown-component">
              {% include components/dropdown.html content=page.all_types component_id="product_types"
              component_name="product_types" component_default="Type" component_label_class="visually-hidden" %}
            </div>
          </div>

          <div class="checkbox-container">
            <!-- checkbox  -->
            <span class="checkbox-heading">Area of Law</span>

            {% for area in page.areas %} 
              {% include components/checkbox.html 
                class_name="area-checkbox" 
              content=area 
              %} 
            {% endfor %}
          </div>
        </div>
      </aside>
      <div class="column large-offset-1 large-7 no-padding">
        <h2>Results</h2>
        {% include components/list-results.html %}
        <div class="date-toggle-container">
          <button
            type="button"
            class="button__date-sort button__sort--descending js-sort sort {{ class_names }}"
            data-sort="timestamp"
          >
            Date
          </button>
        </div>

        <div class="list">
          {% for num in (0..10) %} {% include components/product.html product=page.product %} {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
