---
layout: default
title: Engelberg Center Projects
description: Projects from the Engelberg Center.
top_bar: white
---
{% assign data = site.data.contentful.projectsPage.projectsPage |first  %}
<main id="main" class="projects-page">
  {% include components/nav-button.html %}
  <!-- Layout 1 -->
  <div class="row expanded top-section section--gray">
    <div class="column large-5 medium-12 small-12 markdown-secondary">

      <h1>{{ data.title }}</h1>
      <div class="bar" style="background-image: url({{data.bar_color.url}})"></div>
      {{ data.introduction | markdownify }}
    </div>
    <div class="column large-6 large-offset-1 medium-12 small-12">

      {% if data.featured_project %} 
      {% include components/card-featured-project.html card=data.featured_project %} {%
      endif %}
    </div>
  </div>

  <!-- card sections  -->
    {% include components/generic-card-layout.html 
        cards=data.projects_list
        cards_heading=page.pinned_title
        cards_type="project_cards"
        cards_heading="Projects"
    %}
</main>
