---
layout: default
top_bar: white
title: Publications
description: Library Futures produces research, policy papers, case studies, and zines on digital equity issues in libraries. From the effects of current and emerging policy on digital rights to the opportunities and threats posed by digital access, our work educates libraries and library workers on how to advocate for equitable digital rights to better serve their communities. Our work encompasses our own research and advocacy, the outputs from our Research Network, and the work of our interns.
no_footer: true
list_page: true
---

<!-- assign 'products' -->
{% assign products = site.data.contentful.product.product %}
<!-- assign 'all_authors' -->
{% assign all_authors = "" | split: "" %}
<!-- assign all_types -->
{% assign all_types = "" | split: "" %} {% assign all_law_areas = "" | split: "" %}
<!-- assign 'all_law_areas' -->
{% assign all_law_areas = "" | split: "" %}
<!-- assign 'all_topics' -->
{% assign all_topics = "" | split: "" %}
<!-- assign 'all_tags' -->
{% assign all_tags = "" | split: "" %}

<!-- populate assignments-->
{% for product in products %}
<!-- populate 'all_authors' -->
{% for author in product.authors %}
<!-- populate all_authors with display name -->
{% assign all_authors = all_authors | push: author %} {% endfor %}
<!-- populate all_types -->
{% assign all_types = all_types | push: product.type %}

<!-- populate all_law_area -->

{% for law_area in product.law_area %} {% assign all_law_areas = all_law_areas | push: law_area %} {% endfor %}

<!-- populate all_topics  -->
{% for topic in product.topic%} {% assign all_topics = all_topics | push: topic %} {% endfor %}

<!-- populate all_tags -->
{% for tag in product.tag %} {% assign all_tags = all_tags | push: tag %} {% endfor %} {% endfor %}

<!-- remove duplicates and sort  -->
{% assign all_authors = all_authors| compact | sort: "last_name" | map: "display_name" | uniq %}
<!-- ** -->
{% assign all_types = all_types | uniq | compact | sort %}
<!-- **  -->
{% assign all_law_areas = all_law_areas | uniq | compact | sort %}
<!-- ** -->
{% assign all_topics = all_topics | uniq | compact | sort %}

{% assign all_tags = all_tags | uniq | compact | sort %}

<!-- LAYOUT 9: Lists  -->
<main id="main" class="product-list-page">
  {% include components/nav-button.html %}
  <section id="product-list">
    <div class="row expanded no-padding list-row">
      <aside class="list-aside filter-container">
        <div class="column large-offset-2">
          <h1>{{ page.title }}</h1>
          {% include components/mobile-list-results.html  class_name="outputs-filter" %}
          <div class="bar"></div>
          <span class="search-title">Search and filters</span>
          <button id="clear-filters" class="clear-filters">Clear all</button>
          <div id="search-container">
            <div class="search-component">
              <label class="visually-hidden" for="searchfield">Search</label>
              <input
                class="search-field"
                type="text"
                id="searchfield"
                name=""
                aria-label="Search for a product"
                placeholder="Search"
              />
              <button type="button" class="search-submit" aria-label="Search submit button"></button>
            </div>
          </div>

          <div class="dropdown-container">
            <div class="dropdown-component">
              {% include components/dropdown.html content=all_authors component_id="product-center-author"
              component_name="product-center-author" component_default="All Authors"
              component_label_class="visually-hidden" %}
            </div>
          </div>
        </div>
      </aside>
      <div class="column list-container">
        <p class="intro">{{ page.description }}</p>
        <h2>Results</h2>
        {% include components/list-results.html %}
        <div class="date-toggle-container">
          <button
            id="date-sort"
            type="button"
            class="button__date-sort js-sort sort {{ class_names }}"
            data-sort="timestamp"
          >
            Date
          </button>
        </div>

        <div class="list">
          {% for product in products %}
            {% include components/product.html product=product %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
