---
title: Styleguide - Cards
layout: styleguide
project_cards:
  - title: Project Title
    description: One sentence about this project
  - title: PROJECT TITLE
    description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae aliquam omnis velit voluptatem nemo sunt pariatur? Vel obcaecati provident excepturi?
  - title: Project With A Longer Title Title
    description: One sentence about this project
  - title: Project Title
    description: One sentence about this project
research_cards: 
  - title: Distributed Manufacturing of Open Hardware
    subtitle: A Report of the Open Hardware Distribution & Documentation Working Group
    author: author
  - title: Interoperability and Portability in the Wild
    subtitle: Lessons from the Data Sharing Practitioners Workshop
    author: author
  - title: Recommendations for Statutory Reform of the Patent Term Extension System to Increase Public Accountability and Fight Soaring Drug Prices
    subtitle:
    author: author
  - title: The State of Open Source Hardware 2021
    subtitle:
    author: author
event_cards: 
  - title: Rude Citizenship
    type: book talk
    date: April, 04, 2022
  - title: 2022 Tri-State Region IP Workshop
    type: workshop
    date: April, 04, 2022
  - title: The Normalizing Gaze
    type: speaker series
    date: April, 04, 2022
  - title: Could the Internet Break Democracy?
    type: webinar
    date: April, 04, 2022
featured_research_card:
  - title: Distributed Manufacturing of Open Hardware
    subtitle: A Report of the Open Hardware Distribution & Documentation Working Group
    authors:
      - Ethan Lin 
      - Christopher Morten 
    tags:
      - patent
      - something
      - open source hardware
  - title: Recommendations for Statutory Reform of the Patent Term Extension System to Increase Public Accountability and Fight Soaring Drug Prices
    authors:
    - Ethan Lin 
    - Christopher Morten 
    tags:
    - patent
    - fashion
    - technology
featured_project_card:
  - title: GLAM 3D
    description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime iste dignissimos explicabo quasi minima quod fuga soluta amet, impedit sit.
    authors:
      - Thomas Flynn
      - Neal Stimler 
      - Michael Weinberg
    tags:
      - Open Source Hardware
people:
  - name: Barton Beebe
    title: John M. Desmarais Professor of Intellectual Property Law
  - name: Rochelle Dreyfuss
    title: Pauline Newman Professor of Law
  - name: Jeanne Fromer
    title: Professor of Law
  - name: Mala Chatterjee
    title: Fellow
podcast:
  title: Engleberg Center Live!
  description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, error fuga! Natus mollitia ut sunt placeat, laudantium tenetur eaque. At!
  episode_title: This Podcast Episode
  episode: S1 EP 4
---

<div class="styleguide-header">
  <h2>Cards</h2>
</div>

<!-- PODCAST CARD with header, title, episode image, episode description, player -->
<!-- Layout 2 -->
<div class="row expanded inverted-section">
  <div class="column large-4 medium-12 small-12">
    <div class="card card--podcast">
      <h3>Our Podcasts</h3>
      <span class="card__title">{{ page.podcast.title }}</span>
      <div class="card__podcast-wrapper">
        <div class="card__podcast-image" style="background-image: url('https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs')"></div>
        <div class="card__podcast-detail">
          <span class="card__podcast-title">{{ page.podcast.episode_title }}</span>
          <span class="card__podcast-episode">{{ page.podcast.episode }}</span>
          <div class="card__podcast-player"></div>
        </div>
      </div>
      <p class="card__description">{{ page.podcast.description }}</p>
    </div>
  </div>
  <div class="column large-7 large-offset-1 medium-12 small-12">
    <h2>Heading Two</h2>
    <p>
      This layout is used in 1a, Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, vitae aliquid
      accusantium, dolorem odit reiciendis quaerat pariatur inventore laboriosam ipsa consectetur ratione, earum debitis
      possimus. Libero, minus quia dignissimos fugit voluptas consequuntur aliquid reiciendis recusandae quo architecto
      exercitationem provident? Provident ex rerum dolor ullam, placeat eos corrupti obcaecati ab aut non beatae sit
      animi quae amet, aliquam, reiciendis doloribus impedit voluptas iure cumque! Id soluta nemo, obcaecati officiis
      qui impedit officia accusamus labore architecto velit repellat eius atque quasi! Assumenda aliquam quaerat eveniet
      tempora sequi! Inventore, dicta? Quos neque ipsa ex eos dolorum. Nam, dolor dolore accusamus laboriosam, ab in
      suscipit consequuntur modi quos voluptate, obcaecati nulla amet vitae recusandae nisi. Doloribus, eos. Omnis quis
      tenetur dolor laborum voluptatem optio alias fugit consequatur? Dignissimos repellat, iste distinctio aperiam amet
      dolore dicta laudantium quaerat eius ratione veniam suscipit odit sed libero tempora praesentium earum minima
      similique facilis eum sint porro! Dolores rem eos praesentium mollitia facere suscipit vel iste sunt maxime. Porro
      voluptatem reprehenderit, quam adipisci illo tenetur nesciunt blanditiis officiis provident eum dolores
      consequatur sunt atque qui autem aperiam, perspiciatis tempora, soluta culpa. Culpa expedita, atque quaerat,
      doloribus perspiciatis quidem dolorum sint, nobis harum repellat illo iure! Ut, laudantium quisquam!
    </p>
  </div>
</div>

<!-- END PODCAST CARD  -->


<!-- PEOPLE CARDS with image, title, description  -->
<div class="row expanded">
  <h3>People Card Section Heading</h3>
 </div>
    <div class="row expanded">
      <div class="cards-wrapper">


      {% for card in page.people %} 
      <div class="card card--people">
        <div class="card__avatar-wrapper">
          <div class="card__avatar">
            <img src="https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs">
          </div>
          <div class="card__decorator"></div>
        </div>
        <div class="card__detail">
          <span class="card__name">{{ card.name }}</span>
          <span class="card__title">{{ card.title }}</span>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
</div>
<!-- END PEOPLE CARDS  -->


<!-- PROJECT CARDS with image, title, description  -->
<div class="row expanded">
  <h3>Project Card Section Heading</h3>
 </div>
    <div class="row expanded">
      <div class="cards-wrapper">
      {% for card in page.project_cards %} 
      <div class="card card--project">
        <div class="card__image" style="background-image: url('https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs')">
        </div>
        <div class="card__detail">
          <span class="card__title">{{ card.title }}</span>
          <span class="card__description">{{ card.description }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    </div>
</div>
<!-- END PROJECT CARDS  -->

<!-- RESEARCH CARD with icon, title, subtitle, author -->
<div class="styleguide-header">
  <h3>Research Cards</h3>
</div>

<div class="row expanded">
  <h3>Research Card Section Heading</h3>
 </div>
<div class="cards-wrapper">
  <div class="row expanded">
    {% for card in page.research_cards %} 
    <div class="card card--research">
      <div class="card__icon" style="background-image: url({{ '/images/circle-logo.svg' | relative_url }})">
      </div>
      <div class="card__detail">
        <span class="card__title">{{ card.title }}</span>
        <span class="card__subtitle">{{ card.subtitle }}</span>
        <span class="card__author">{{ card.author }}</span>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
<!-- END RESEARCH CARD -->

<!-- EVENT CARD with date, title, type  -->
<div class="row expanded">
  <h3>Event Card Section Heading</h3>
 </div>
    <div class="row expanded ">
      <div class="cards-wrapper">
      {% for card in page.event_cards %} 
      <div class="card card--event">
        <div class="card__image" style="background-image: url('https://i.picsum.photos/id/1019/5472/3648.jpg?hmac=2mFzeV1mPbDvR0WmuOWSiW61mf9DDEVPDL0RVvg1HPs')">

        </div>
        <div class="card__detail">

          <span class="card__date">{{ card.date }}</span>
          <span class="card__title">{{ card.title }}</span>
          <span class="card__type">{{ card.type }}</span>

        </div>
      </div>
      {% endfor %}
      </div>
    </div>
</div>
<!-- END EVENT CARD  -->

<div class="styleguide-header">
  <h2>Cards</h2>
  <h3>Featured Cards</h3>
</div>


<!-- FEATURED RESEARCH CARD  -->
<div class="row expanded">
  <div class="column large-5 medium-12 small-12">
    <h1>Layout One: Heading One</h1>
    <p>This layout is used for: 1a, 6a,  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perspiciatis culpa optio consectetur, temporibus.</p>
  </div>
  <div class="column large-6 large-offset-1 no-padding medium-12 small-12">
    <div class="card card--featured">
      <div class="card__meta">
        <div class="card__tags-container">
          {% for tag in page.featured_research_card[0].tags %}
            <div class="tag tag--{{tag | slugify}}">{{ tag | capitalize }}</div>
          {% endfor %}
        </div>
        <div class="card__authors">
          {% for name in page.featured_research_card[0].authors %}
            <span class="card__author">{{ name }}</span>
          {% endfor %}
        </div>
      </div>
      <h2 class="card__title">{{page.featured_research_card[0].title}}</h2>
      <h3 class="card__subtitle">{{page.featured_research_card[0].subtitle}}</h3>
      <div class="card__action">
        <a href="#" class="link link--arrow">Read More</a>
      </div>
    </div> 
  </div>
</div>
<!-- END FEATURED RESEARCH CARD  -->

<!-- FEATURED PROJECT CARD  -->
<div class="row expanded">
  <div class="column large-5 medium-12 small-12">
    <h1>Layout One: Heading One</h1>
    <p>This layout is used for: 1a, 6a,  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum perspiciatis culpa optio consectetur, temporibus.</p>
  </div>
  <div class="column large-6 large-offset-1 no-padding medium-12 small-12">
    <div class="card card--featured">
      <div class="card__meta">
        <div class="card__tags-container">
          {% for tag in page.featured_project_card[0].tags %}
            <div class="tag tag--{{tag | slugify}}">{{ tag | capitalize }}</div>
          {% endfor %}
        </div>
        <div class="card__authors">
          {% for name in page.featured_project_card[0].authors %}
            <span class="card__author">{{ name }}</span>
          {% endfor %}
        </div>
      </div>
      <h2 class="card__title">{{page.featured_project_card[0].title}}</h2>
      <h3 class="card__description">{{page.featured_project_card[0].description}}</h3>
      <div class="card__action">
        <a href="#" class="link link--arrow">Read More</a>
      </div>
    </div> 
  </div>
</div>
<!-- END FEATURED PROJECT CARD  -->